---
layout: templates/documentation.njk
title: Section Design
permalink: about/design/sections/index.html
navKey: Design
eleventyNavigation:
    key: Section Design
    parent: Design
articleClasses: "grid grid-cols-6"
sectionClasses: "col-span-5 col-start-2"
---
