---
layout: templates/documentation.njk
title: Site Introduction
permalink: about/design/sections/site-intro/index.html
navKey: Section Design
eleventyNavigation:
    key: Site Intro
    parent: Section Design
articleClasses: "grid grid-cols-6"
sectionClasses: "col-span-5 col-start-2"
---
