@layer utilities {
  .word-per-line {
    word-spacing: 100vw;
    line-height: 0;
  }
}

@utility arrow-suffix {
  &::after {
    content: "\00a0\2192\00a0";
  }

  &:hover::after {
    content: "\00a0\00a0\2192";
  }
}
