@layer utilities {
  .word-per-line {
    word-spacing: 100vw;
    line-height: 0;
  }

  .arrow-prefix::before {
    content: "\2192\00a0";
  }
  .arrow-suffix::after {
    content: "\00a0\2192\00a0";
  }

  .arrow-suffix:hover::after {
    content: "\00a0\00a0\2192";
  }
}
