{% import "organisms/header/global-header.njk" as header %}
{% import "organisms/footer/global-footer.njk" as footer %}
{% import "organisms/navigation/skip-links-nav.njk" as skip_links %}
{% import "organisms/navigation/breadcrumbs-nav.njk" as breadcrumbs %}

<!DOCTYPE html>
<html lang="en">
  {% include "templates/partials/head.njk" %}
  {% block head %}{% endblock %}
  <body
    class="{{ bodyClasses }}" data-scroll-container>
    {# GTM #}
    {% include "templates/partials/gtm-noscript.njk" %}
    {# SKIP LINKS #}
    {{ skip_links.render() }}
    {# GLOBAL PAGE HEADER #}
    {{ header.render({classes: 'bg-gray-900'}) }}
    {# BREADCRUMBS #}
    {{ breadcrumbs.render({classes: 'col-span-full w-full'}) }}
    {# SIDEBAR #}
    {% block sidebar_before %}{% endblock %}
    {# MAIN CONTENT AREA #}
    <main class="{{ mainClasses }}" data-scroll-container>
      <h1>{{ title }}</h1>
      {% block content %}
        {% if content %}
          {{ content | safe }}
        {% else %}
          {% loremPars 3 %}
        {% endif %}
      {% endblock %}
    </main>
    {# SIDEBAR #}
    {% block sidebar_after %}{% endblock %}
    {# GLOBAL PAGE FOOTER #}
    {{ footer.render({classes: 'col-span-full w-full py-8 px-4 md:px-8 lg:px-12 bg-gray-900 text-gray-400 text-center text-sm'}) }}
  </body>
</html>