{% extends "./base.njk" %}
{%- set bodyClasses = "bg-gray-100 text-gray-900" -%}
{%- set mainClasses = "col-span-full w-full" -%}
{% block content %}
  Hello there.
{% endblock %}
{% block sidebar_after  %}
  Sidebar content goes here.
{% endblock %}