{% import "organisms/header/global-header.njk" as header with context %}
{% import "organisms/footer/global-footer.njk" as footer with context %}
{% import "organisms/navigation/skip-links-nav.njk" as skip_links %}
{% import "organisms/navigation/breadcrumbs-nav.njk" as breadcrumbs %}

<!DOCTYPE html>
<html lang="en">
  {% include "templates/partials/head.njk" %}
  {% block head %}{% endblock %}
  <body
    class="{{ bodyClasses }}" data-scroll-container>
    {# GTM #}
    {% include "templates/partials/gtm-noscript.njk" %}
    {# SKIP LINKS #}
    {{ skip_links.render() }}
    {# GLOBAL PAGE HEADER #}
    {{ header.render() }}
    {# SIDEBAR #}
    {% block sidebar_before %}
      {% if sidebar_before %}
      {{ sidebar_before | safe }}
      {% endif %}
    {% endblock %}
    {# MAIN CONTENT AREA #}
    <main class="{{ mainClasses }}" data-scroll-container>
      {# BREADCRUMBS #}
      {{ breadcrumbs.render({classes: 'col-span-full w-full'}) }}
      <h1>{{ title }}</h1>
      {% block content %}
        {% if content %}
          {{ content | safe }}
        {% else %}
          {% loremPars 3 %}
        {% endif %}
      {% endblock %}
    </main>
    {# SIDEBAR #}
    {% block sidebar_after %}
      {% if sidebar_after %}
      {{ sidebar_after | safe }}
      {% endif %}
    {% endblock %}
    {# GLOBAL PAGE FOOTER #}
    {{ footer.render() }}
  </body>
</html>