{% import "organisms/header/global-header.njk" as GlobalHeader with context %}
{% import "organisms/footer/global-footer.njk" as Footer with context %}
{% import "organisms/navigation/skip-links-nav.njk" as SkipLinks %}

{%- set brandLogoUrl = cms.siteSettings[0].brand.logo.asset.url if (cms and cms.siteSettings and cms.siteSettings[0] and cms.siteSettings[0].brand and cms.siteSettings[0].brand.logo and cms.siteSettings[0].brand.logo.asset) else "" -%}
{%- set brandLogoSvg = brandLogoUrl | inlineSvgFromUrl -%}

<!DOCTYPE html>
<html lang="en" class="{{ 'debug-outlines' if runtime.debugOutlines }}">
  {% include "templates/partials/dev-note.njk" %}
  {% include "templates/partials/head.njk" %}
  {% block head %}
  {% endblock head %}
  <body class="{% block bodyStyles %}{{ {"base": "bg-slate-950 ", "sm": "", "md": "", "lg": "", "xl": ""} | classes }}{% endblock bodyStyles %}">

    {# GTM #}
    {% include "templates/partials/gtm-noscript.njk" %}

    {# SKIP LINKS #}
    {{ SkipLinks.render() }}

    {# GLOBAL PAGE HEADER #}
    {{ GlobalHeader.render({classes: 'font-display', logoSvg: brandLogoSvg}) }}

    {#- SIDEBAR BEFORE -#}
    {% block sidebar_before %}
      <nav class="{% block sidebarBeforeStyles %}{{ {"base": "", "sm": "", "md": "", "lg": "", "xl": ""} | classes }}{% endblock sidebarBeforeStyles %}"
           data-scroll
           data-scroll-sticky
           data-scroll-target="main">
        Hi there.
        This is the sidebar content. You can replace this with your own content or remove it if you don't need a sidebar.

      </nav>
    {% endblock sidebar_before %}


    {# MAIN CONTENT AREA #}
    <main class="{% block mainStyles %}{{ {"base": " max-w-[1280px] mx-2", "sm": "mx-4", "md": "mx-8", "lg": "mx-24", "xl": ""} | classes }}{% endblock mainStyles %}">

      {% block content %}
        {% if content %}
          {{ content | safe }}
        {% else %}
          {% loremPars 3 %}
        {% endif %}
      {% endblock content %}

    </main>

    {#- SIDEBAR AFTER -#}
    {% if sidebar_after %}
      <aside class="{% block sidebarAfterStyles %}{{ {"base": "", "sm": "", "md": "", "lg": "", "xl": ""} | classes }}{% endblock sidebarAfterStyles %}"
             data-scroll
             data-scroll-sticky
             data-scroll-target="main">
        {% block sidebar_after %}
          Hi there. This is the sidebar content. You can replace this with your own content or remove it if you don't need a
          sidebar.
        {% endblock sidebar_after %}
      </aside>
    {% endif %}

    {# GLOBAL PAGE FOOTER #}
    {{ Footer.render() }}

    {#- SCRIPTS -#}
    <script type="module" src="/assets/js/layouts/global-header.js"></script>

    {% block scripts %}
    {% endblock scripts %}
  </body>
</html>
