{% extends "./base.njk" %}
{#- Grid <body>: keep the footer pinned (absolute) rather than in flow. -#}
{% set pinFooter = true %}
{% import "molecules/docs-nav/docs-nav.njk" as docsNav %}
{% block bodyStyles %}grid grid-cols-12{% endblock bodyStyles %}
{% block mainStyles %}col-span-full w-full grid grid-cols-12{% endblock mainStyles %}
{%- set sidebarAfterClasses = "col-span-2" -%}
{% block content %}
  {% if content %}
    {{ content | safe }}
  {% else %}
    {% loremPars 3 %}
  {% endif %}
{% endblock content %}
{% block sidebarAfter %}
  {% if sidebarAfter %}
    {{ sidebarAfter | safe }}
  {% else %}
    {% loremPars 3 %}
  {% endif %}
{% endblock sidebarAfter %}
