{% macro render(params = {}) %}
  {%- set organizations = params.organizations
    | default([]) -%}

  {% if organizations | length %}
    <ul class="organizations-list">
      {% for org in organizations %}
        <li class="organizations-list__item">
          {{ org.title | default(org.name) | default('Untitled organization') }}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p class="organizations-list__empty">No organizations found.</p>
  {% endif %}
{% endmacro %}