{% macro render(params = {}) %}
  {%- set classes = params.classes | default('') -%}
  {%- set logoInline = params.logoInline | default(organizationRecord.logo.inline) | default('') -%}
  {%- set logoAlt = params.logoAlt | default('Award logo') -%}
  {%- set inlineLooksSvg = '<svg' in logoInline -%}
  {%- set state = 'svg' if inlineLooksSvg else 'hidden' -%}
  {%- set svgClassList = params.svgClasses | default('awards-list__logo fill-current') -%}
  {%- if classes %}
    {%- set svgClassList = svgClassList ~ ' ' ~ classes -%}
  {%- endif -%}
  {%- set inlineHasSvgClassDouble = '<svg class="' in logoInline -%}
  {%- set inlineHasSvgClassSingle = "<svg class='" in logoInline -%}
  {%- set processedInline = logoInline -%}
  {%- if state == 'svg' %}
    {%- if inlineHasSvgClassDouble %}
      {%- set processedInline = processedInline | replace('<svg class="', '<svg class="' ~ svgClassList ~ ' ') -%}
    {%- elif inlineHasSvgClassSingle %}
      {%- set processedInline = processedInline | replace("<svg class='", "<svg class='" ~ svgClassList ~ ' ') -%}
    {%- else %}
      {%- set processedInline = processedInline | replace('<svg', '<svg class="' ~ svgClassList | escape ~ '"') -%}
    {%- endif -%}
    {%- set processedInline = processedInline | replace('<svg', '<svg role="img" aria-label="' ~ logoAlt | escape ~ '" focusable="false"') -%}
  {%- endif -%}

  {% if state == 'svg' %}
    {{ processedInline | safe }}
  {% endif %}
{% endmacro %}