{% macro render(params = {}) %}
  {% import "molecules/printmarks.njk" as PrintMarks %}
  {%- set sectionId = params.id | default("bio") -%}
  {%- set classes = params.classes | default("") -%}
  {%- set heading = params.copy.heading -%}
  {%- set subheading = params.copy.subheading -%}
  {%- set body = params.copy.body -%}
  {%- set order = params.order | default("") -%}
  {%- set headingId = params.headingId | default(sectionId) -%}
  {%- set buildDate = params.buildDate -%}

  {%- set section = {"base": "relative pb-12 text-neutral-200 col-span-full content-center grid grid-cols-12 gap-8 px-8"} %}
  {% set header = {"base": "h-dvh flex flex-col justify-center z-1 pt-6 pb-48 font-display col-span-full"} %}
  {%- set title = {
    "base": "font-display text-5xl/12 my-12 py-8 tracking-loose",
    "sm": "text-6xl/16",
    "md": "text-7xl",
    "xl": "text-8xl/22"
  } %}
  {%- set statement = {
    "base": "h-dvh content-center col-span-full grid grid-cols-subgrid gap-y-12 [&>p]:col-span-full [&>p]:prose [&>p]:text-2xl/8 [&>p]:text-neutral-200 md:[&>p]:col-span-7 md:[&>p]:row-start-2 md:[&>p]:col-start-4"
  } %}
  <section class="{{ section | classes }} {{ copy | classes }}"
           id="{{ sectionId }}"
           aria-labelledby="{{ headingId }}"
           data-scroll-section>
    <header class="{{ header | classes }}" data-bio-el="header">
      <h1 class="{{ title | classes }}"
          id="{{ headingId }}"
          data-bio-el="heading">{{ heading }}</h1>
    </header>
    <section class="{{ statement | classes }}" data-bio-el="mission-statement">
      <h2 class="sm:text-4xl md:text-5xl font-display text-secondary-500 col-span-full md:col-span-4"
          data-bio-el="overview">{{ subheading }}</h2>
      {{ body | safe }}
    </section>
  </section>
{% endmacro %}
