{% macro render(params = {}) %}
  {% import "molecules/section-cap.njk" as SectionCap %}
  {% import "molecules/printmarks.njk" as PrintMarks %}
  {%- set sectionId = params.id | default("bio") -%}
  {%- set classes = params.classes | default("") -%}
  {%- set heading = params.copy.heading -%}
  {%- set subheading = params.copy.subheading -%}
  {%- set body = params.copy.body -%}
  {%- set order = params.order | default("") -%}
  {%- set headingId = params.headingId | default(sectionId ~ "-heading") -%}
  {%- set buildDate = params.buildDate -%}

  {%- set section = {
    "base": "relative pl-48 text-primary-100 col-span-full w-full",
    "motion-reduced": ""
  } %}
  {% set header = {
    "base": "h-full col-span-full z-10 flex flex-wrap items-start [&>time]:ml-auto"
  } %}
  {%- set title = {
    "base": "basis-full font-display text-3xl",
    "sm": "text-4xl"
  } %}
  {%- set copy = {
    "base": "basis-full mt-4 text-lg font-light columns-md",
    "sm": "text-xl",
    "md": "text-2xl"
  } %}

  {# Biography section #}
  <section class="{{ section | classes }}" id="{{ sectionId }}" aria-labelledby="{{ headingId }}" data-scroll-section>
    <div
      class="w-full flex gap-4 px-12 border-b-2 border-b-slate-700 py-4 font-display [&>*]:flex-1 [&>*:first-child]:text-left
        [&>*:nth-child(2)]:text-center [&>*:last-child]:text-right"
      data-bio-el="section-header">
      {{ SectionCap.render({title: "manifesto" , count: order, buildDate: buildDate}) }}
    </div>
    <header class="{{ header | classes }}" data-bio-el="header">
      <h2 class="{{ title | classes }}" id="{{ headingId }}" data-bio-el="heading">{{ heading }}</h2>
    </header>
    {{ body | safe }}
  </section>
{% endmacro %}