{% macro render(params = {}) %}
  {% import "molecules/current-section-title.njk" as CurrentSectionTitle %}
  {%- set sectionId = params.id | default("bio") -%}
  {%- set classes = params.classes | default("") -%}
  {%- set heading = params.copy.heading -%}
  {%- set subheading = params.copy.subheading -%}
  {%- set body = params.copy.body -%}
  {%- set order = params.order | default("") -%}
  {%- set headingId = params.headingId | default(sectionId ~ "-heading") -%}

  {# Biography section #}
  <section class="relative h-dvh bg-white text-black col-span-full prose {{ classes }}" id="{{ sectionId }}" aria-labelledby="{{ headingId }}" data-scroll-section>
    <header class="col-span-full z-10 relative top-6" data-bio-el="header">
      <div class="text-xs font-thin px-2" data-bio-el="context">
        {{ CurrentSectionTitle.render({title: sectionId , count: order}) }}
      </div>
      <h2 class="px-10 mt-12 font-display" id="{{ headingId }}" data-bio-el="heading">{{ heading }}</h2>
      <p class="px-10 mt-4 text-xl" data-bio-el="subheading">{{ subheading }}</p>
    </header>
  </section>
{% endmacro %}