{%- import "organisms/forms/contact.njk" as contactForm -%}
{% macro render(params = {}) %}
  {%- set sectionId = params.id | default("contact") -%}
  {%- set classes = params.classes | default("") -%}
  {%- set heading = params.copy.heading | default("Contact") -%}
  {%- set subheading = params.copy.subheading | default("") -%}
  {%- set body = params.copy.body | default("Have a project in mind? Send a message and I'll get back to you.") -%}
  {%- set order = params.order | default("") -%}
  {%- set headingId = params.headingId | default(sectionId) -%}


  {%- set sectionStyles = {"base": "relative col-span-full grid grid-cols-subgrid p-0 "} -%}
  {%- set headerStyles = {"base": "col-span-full sticky top-0 z-10 p-4 pt-10 space-y-4"} -%}
  {%- set headingStyles = {"base": "font-display text-4xl"} -%}

  <section id="{{ sectionId }}"
           class="{{ sectionStyles | classes }}"
           aria-labelledby="{{ headingId }}"
           data-scroll-section>
    <header data-contact-el="header" class="{{ headerStyles | classes }}">
      <h2 id="{{ headingId }}"
          data-contact-el="heading"
          class="{{ headingStyles | classes }}">{{ heading }}</h2>
      <p data-contact-el="body" class="col-span-full">{{ body }}</p>
    </header>
    {{ contactForm.render({
        sectionId: sectionId
        }) }}
  </section>
{% endmacro %}
