{% macro render(params = {}) %}
  {% import "atoms/hanko/hanko.njk" as Hanko %}

  {%- set sectionId = params.id | default("hero") -%}
  {%- set tagline = params.tagline | default(title) -%}
  {%- set rulerOptions = params.ruler | default({}) -%}
  {%- set classes = params.classes | default("") -%}
  {%- set headingId = params.headingId | default(sectionId ~ "-heading") -%}

  {%- set section = {
  base: "z-10 h-dvh content-center grid grid-cols-3 gap-4 px-4"
  } -%}

  {%- set hanko = {
    base: "hanko justify-self-end block text-secondary-500"
  } -%}

  {%- set heading = {
    base: "font-display text-5xl/2 text-primary-100 uppercase mt-0 col-start-2 col-span-2 flex flex-col overflow-hidden z-10",
    sm: "text-6xl",
    md: "text-7xl",
    lg: "text-9xl/26"
  } -%}

  <section id="{{ sectionId }}" class="{{ section | classes }}" aria-labelledby="{{ headingId }}" data-scroll-section>
    {{ Hanko.render({svg: params.logo, classes: hanko | classes}) }}
    <h1 id="{{ headingId }}" data-hero-el="tagline" class="{{ heading | classes }}">
      {{ tagline }}
    </h1>
  </section>
{% endmacro %}