{% macro render(params = {}) %}
  {% import "atoms/hanko/hanko.njk" as Hanko %}

  {%- set sectionId = params.id | default("hero") -%}
  {%- set tagline = params.tagline | default(title) -%}
  {%- set rulerOptions = params.ruler | default({}) -%}
  {%- set classes = params.classes | default("") -%}
  {%- set headingId = params.headingId | default(sectionId ~ "-heading") -%}

  {%- set section = {
  base: "z-1 bg-slate-950 h-dvh content-center grid grid-cols-6 gap-4 px-4 w-full overflow-hidden"
  } -%}

  {%- set logo = {
    base: "justify-self-end block text-secondary-500"
  } -%}

  {%- set heading = {
    base: "font-display text-4xl font-black text-primary-100 uppercase col-span-5 flex flex-col z-10"
  } -%}

  <section id="{{ sectionId }}" class="{{ section | classes }}" aria-labelledby="{{ headingId }}" data-scroll-section>
    {{ Hanko.render({svg: params.logo, classes: logo | classes}) }}
    <h1 id="{{ headingId }}" data-hero-el="tagline" class="{{ heading | classes }}">
      Russell Lebo
      <span class="text-sm block w-full font-thin">Experience Designer / Creative Technologist</span>
    </h1>
  </section>
{% endmacro %}