{% macro render(params = {}) %}
  {% import "atoms/organization.njk" as Organization %}

  {%- set sectionId = params.id | default("organizations") -%}
  {%- set classes = params.classes | default("") -%}
  {%- set heading = params.copy.heading | default("Organizations") -%}
  {%- set subheading = params.copy.subheading -%}
  {%- set body = params.copy.body -%}
  {%- set order = params.order | default("") -%}
  {%- set headingId = params.headingId | default(sectionId) -%}

  {%- set organizations = params.organizations | default([]) -%}

  {%- set header = {
  base: "z-10 border-y border-slate-600 divide-neutral-600 flex flex-row items-center gap-2 px-8 py-12"} -%}

  {%- set title = {
    base: "col-span-full basis-full text-neutral-100 font-display font-light text-6xl",
    md: "text-7xl",
    lg: "text-8xl"
  } -%}

  <section id="{{ sectionId }}" class="my-12 text-neutral-100 relative z-10 col-span-full grid grid-cols-subgrid p-0 overflow-hidden {{ classes }} " aria-labelledby="{{ headingId }}" data-scroll-section>

    <header data-organizations-el="header" class="{{ header | classes }}">
      <h2 id="{{ headingId }}" data-organizations-el="heading" class="{{ title | classes }}">{{ heading }}</h2>
      <p data-organizations-el="body" class="col-span-full">{{ body }}</p>
    </header>
    {% if organizations | length %}
      <ul data-organizations-el="list" class="col-span-full grid grid-cols-6 gap-1 p-1 saturate-0 m-12">
        {% for organization in organizations %}
          <li data-organizations-el="organization">
            {{ Organization.render(organization) }}
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p class="col-span-full">No organizations found.</p>
    {% endif %}
  </section>
{% endmacro %}