{% macro render(params = {}) %}
  {% import "molecules/current-section-title.njk" as CurrentSectionTitle %}
  {% import "molecules/card/project.njk" as Card %}

  {%- set sectionId = params.id | default("work") -%}
  {%- set classes = params.classes | default("") -%}
  {%- set heading = params.copy.heading -%}
  {%- set subheading = params.copy.subheading -%}
  {%- set body = params.copy.body -%}
  {%- set order = params.order | default("") -%}
  {%- set headingId = params.headingId | default(sectionId ~ "-heading") -%}

  {%- set projects = params.projects
    | default([]) -%}

  <section id="{{ sectionId }}" class="relative z-10 col-span-full grid grid-cols-subgrid p-0 {{ classes }} " aria-labelledby="{{ headingId }}" data-scroll-section>
    <header data-projects-el="header" class="col-span-full">
      <div data-projects-el="context" class="text-sm col-span-full">
        {{ CurrentSectionTitle.render({title: sectionId , count: order}) }}
      </div>
      <h2 id="{{ headingId }}" data-projects-el="heading" class="col-span-full">{{ heading }}</h2>
      <p data-projects-el="body" class="col-span-full">{{ body }}</p>
    </header>
    {% if projects | length %}
      <ul data-projects-el="list" class="col-span-full grid grid-cols-2 gap-4">
        {% for project in projects %}
          <li data-projects-el="project">
            {{ Card.render({ project: project }) }}
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p class="col-span-full">No projects found.</p>
    {% endif %}
  </section>
{% endmacro %}