{% macro render(params = {}) %}
  {% import "molecules/section-cap.njk" as SectionCap %}
  {% import "molecules/card/project.njk" as Card %}

  {%- set sectionId = params.id | default("work") -%}
  {%- set classes = params.classes | default("") -%}
  {%- set heading = params.copy.heading | default("Work") -%}
  {%- set subheading = params.copy.subheading | default("") -%}
  {%- set body = params.copy.body | default("") -%}
  {%- set order = params.order | default("") -%}
  {%- set headingId = params.headingId | default(sectionId ~ "-heading") -%}
  {%- set buildDate = params.buildDate -%}

  {%- set projects = params.projects | default([]) -%}
  {%- set projectsByIndustry = params.projectsByIndustry | default([]) -%}

  <section id="{{ sectionId }}" class="bg-horizontal-stripes relative z-10 bg-white col-span-full space-y-4 {{ classes }} " aria-labelledby="{{ headingId }}" data-scroll-section>
    <header data-projects-el="header" class="outline outline-1 outline-black outline-offset-[-6px] p-4">
      <div data-projects-el="context" class="gap-1 text-xs font-thin col-span-full flex items-center justify-between border-b border-black border-dashed pb-2">
        {{ SectionCap.render({title: sectionId , count: order, buildDate: buildDate}) }}
      </div>
      <h2 id="{{ headingId }}" data-projects-el="heading" class="font-display text-3xl">{{ heading }}</h2>
      {% if subheading %}
        <p data-projects-el="subheading">{{ subheading }}</p>
      {% endif %}
      <p data-projects-el="body" class="col-span-full">{{ body }}</p>
    </header>
    {% if projectsByIndustry | length %}
      {% for industry in projectsByIndustry %}
        {% if industry.projects | length %}
          <section
            data-projects-el="industry-group"
            class="relative z-10 my-4 col-span-full"
            aria-labelledby="industry-{{ industry.conceptId }}">
            <h3
              id="industry-{{ industry.conceptId }}"
              data-projects-el="industry-heading"
              class="bg-white font-display text-2xl px-4">{{ industry.title }}</h3>
            <ul data-projects-el="list" class="col-span-full sm:grid sm:grid-cols-2 gap-4">
              {% for project in industry.projects %}
                <li data-projects-el="project">
                  {{ Card.render({ project: project, headingLevel: 4, eager: loop.first and loop.parent.first }) }}
                </li>
              {% endfor %}
            </ul>
          </section>
        {% endif %}
      {% endfor %}
    {% elif projects | length %}
      <ul data-projects-el="list" class="col-span-full sm:grid sm:grid-cols-2 gap-4">
        {% for project in projects %}
          <li data-projects-el="project">
            {{ Card.render({ project: project, headingLevel: 4, eager: loop.first }) }}
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p class="col-span-full">No projects found.</p>
    {% endif %}
  </section>
{% endmacro %}