---
layout: templates/documentation.njk
title: Text Network

eleventyNavigation:
    key: Text Network
    parent: Lab

---

<canvas id="myCanvas"></canvas>
<script src="/assets/js/effects/text/text-network.js"></script>