<div class="avatar {{ avatarStyles }}">
  <div class="ring-primary-light ring-offset-base-100 w-24 sm:w-48 rounded-full ring-3">
    <img alt="portrait of author" src="/assets/images/self-portrait.png"/>
  </div>
</div>