{% macro render(params = {}) %}
  {%- set text = params.text -%}
  {%- set url = params.url -%}
  {%- set classes = params.classes -%}

  <a href="{{ url }}" class="cta {{ classes }}">
    → {{ text }}
  </a>
{% endmacro %}