<dl>
  <dd>
    <ul>
      <li>Any valid font family name installed or available in Figma.</li>
      <li>
        Examples:
        <code>'Roboto'</code>,
        <code>'Arial'</code>,
        <code>'Big Shoulders Display'</code>
      </li>
    </ul>
  </dd>

  <dt>_fontPostScriptName</dt>
  <dd>
    <ul>
      <li>
        <code>null</code>
        if not applicable.</li>
      <li>Valid PostScript name strings of the font.</li>
      <li>
        Examples:
        <code>'Roboto-Regular'</code>,
        <code>'Arial-BoldMT'</code>
      </li>
    </ul>
  </dd>

  <dt>_fontWeight</dt>
  <dd>
    <ul>
      <li>100, 200, 300, 400, 500, 600, 700, 800, 900</li>
      <li>Corresponds to lightness and boldness of the font.</li>
    </ul>
  </dd>

  <dt>_fontSize</dt>
  <dd>
    <ul>
      <li>Any positive number representing font size in pixels.</li>
      <li>
        Typically ranges from 8 to 200 pixels, depending on design requirements.
      </li>
    </ul>
  </dd>

  <dt>_textAlignHorizontal</dt>
  <dd>
    <ul>
      <li>
        <code>'LEFT'</code>
      </li>
      <li>
        <code>'CENTER'</code>
      </li>
      <li>
        <code>'RIGHT'</code>
      </li>
      <li>
        <code>'JUSTIFIED'</code>
      </li>
      <li>
        <code>'AUTO'</code>
      </li>
    </ul>
  </dd>

  <dt>_textAlignVertical</dt>
  <dd>
    <ul>
      <li>
        <code>'TOP'</code>
      </li>
      <li>
        <code>'CENTER'</code>
      </li>
      <li>
        <code>'BOTTOM'</code>
      </li>
      <li>
        <code>'BASELINE'</code>
      </li>
    </ul>
  </dd>

  <dt>_letterSpacing</dt>
  <dd>
    <ul>
      <li>
        Any numerical value (positive, negative, or zero) representing letter
                spacing in pixels.
      </li>
      <li>
        Example:
        <code>-1.2</code>
        px means letters are 1.2 pixels closer
                together.
      </li>
    </ul>
  </dd>

  <dt>_lineHeightPx</dt>
  <dd>
    <ul>
      <li>Any positive number representing line height in pixels.</li>
      <li>Typically adjusted based on font size for optimal readability.</li>
    </ul>
  </dd>

  <dt>_lineHeightPercent</dt>
  <dd>
    <ul>
      <li>
        Any positive number representing line height as a percentage of the font
                size.
      </li>
      <li>Common values range from 100% to 200%, depending on design needs.</li>
    </ul>
  </dd>

  <dt>_lineHeightUnit</dt>
  <dd>
    <ul>
      <li>
        <code>INTRINSIC_PX</code>
      </li>
      <li>
        <code>INTRINSIC_%</code>
      </li>
      <li>
        <code>EXTRINSIC_PX</code>
      </li>
      <li>
        <code>EXTRINSIC_%</code>
      </li>
    </ul>
  </dd>

  <dt>_name</dt>
  <dd>
    <ul>
      <li>Any string identifier for the text format.</li>
      <li>Used for referencing within styles or components.</li>
      <li>Example:
        <code>'fontFamily/display'</code>
      </li>
    </ul>
  </dd>

  <dt>_id</dt>
  <dd>
    <ul>
      <li>Unique string identifier assigned by Figma.</li>
    </ul>
  </dd>
</dl>