<!-- Display blockframes animation above title -->
<h1
  id="main-title"
  class="z-10 text-4xl
        sm:text-5xl md:text-6xl lg:text-7xl tracking-tighter uppercase font-display p-4 text-neutral-100 mx-auto"
>
  Russ Lebo
</h1>