{% import "organisms/navigation/primary-nav.njk" as primary_nav %}

{% macro render(params = {}) %}
  <header
    id="global-header"
    class="fixed inset-4 w-full h-12 z-20 {{ params.classes }} "
    aria-label=" Global Site Header">
    {{ primary_nav.render({siteName: 'data:ink:io'}) }}
  </header>
{% endmacro %}