/* 
* .bg-gel provides the blend mode and full positioning 
* Assume a relative parent container
*/
.bg-gel {
  mix-blend-mode: normal;
}

/* .bg-gel-neutral applies a gradient from neutral-900 to neutral-400 */
.bg-gel-neutral {
  background-image: linear-gradient(
    to top,
    var(--color-neutral-900),
    var(--color-neutral-400)
  );
}

.bg-gel-neutral-light {
  background-image: linear-gradient(
    to top,
    var(--color-neutral-200),
    var(--color-neutral-100)
  );
}

/* .bg-gel-primary applies a gradient from primary-900 to primary-400 */
.bg-gel-primary {
  background-image: linear-gradient(
    to top,
    var(--color-primary-900),
    var(--color-primary-600)
  );
}

/* .bg-gel-secondary applies a gradient from secondary-900 to secondary-400 */
.bg-gel-secondary {
  background-image: linear-gradient(
    to top,
    var(--color-secondary-900),
    var(--color-secondary-600)
  );
}

/* .bg-gel-accent applies a gradient from accent-900 to accent-400 */
.bg-gel-accent {
  background-image: linear-gradient(
    to top,
    var(--color-accent-900),
    var(--color-accent-600)
  );
}

/* .bg-gel-success applies a gradient from success-900 to success-400 */
.bg-gel-success {
  background-image: linear-gradient(
    to top,
    var(--color-success-900),
    var(--color-success-600)
  );
}
