@tailwind utilities;

/* Custom Background Graphpaper Patterns */
@layer components {
  .bg-horizontal-stripes {
    background-image: linear-gradient(180deg, #000 75%, #2182e3 25%);
    background-size: 100% 20px;
  }

  .bg-fibonacci {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
}
