/* Custom Print Marks Components */
@layer components {
  .printmarks {
    @apply absolute inset-0 pointer-events-none;

    /* -webkit-mask-image: var(--mask-image-grunge);
    mask-image: var(--mask-image-grunge);
    -webkit-mask-mode: var(--mask-mode-luminance);
    mask-mode: var(--mask-mode-luminance); */

    /* -webkit-mask-size: var(--mask-size-cover);
    mask-size: var(--mask-size-cover);
    -webkit-mask-position: var(--mask-position-center);
    mask-position: var(--mask-position-center);
    -webkit-mask-repeat: var(--mask-repeat-no-repeat);
    mask-repeat: var(--mask-repeat-no-repeat);
    */
  }

  /** BLEED AND MARGIN LINES **/
  /* .printmark-bleed {
    @apply border border-dashed border-current opacity-0;
  } */

  .printmark-margins {
    @apply absolute inset-8 mt-6 border border-accent-600;
  }

  /** TRIM MARKS **/
  .printmark-trim {
    @apply absolute inset-8 mt-6 pointer-events-none;
  }

  .printmark-trim-horiz {
    @apply bg-current w-4 h-0.25;
  }

  .printmark-trim-vert {
    @apply bg-current w-0.25 h-4;
  }

  /** REGISTRATION MARKS **/
  .printmark-registration-bar {
    @apply m-4 flex flex-row items-center h-4;
  }

  /** COLORS AND NEUTRALS */
  .printmark-colors,
  .printmark-neutrals {
    @apply flex-none flex flex-row items-center h-full w-1/4;
  }

  .printmark-colors li,
  .printmark-neutrals li {
    @apply flex-1 h-full;
  }

  .printmark-colors {
    @apply ml-auto;
  }

  .printmark-colors li:nth-child(1) {
    @apply bg-primary-600;
  }
  .printmark-colors li:nth-child(2) {
    @apply bg-secondary-600;
  }
  .printmark-colors li:nth-child(3) {
    @apply bg-tertiary-500;
  }
  .printmark-colors li:nth-child(4) {
    @apply bg-accent-500;
  }

  .printmark-neutrals li:nth-child(1) {
    @apply bg-neutral-800;
  }
  .printmark-neutrals li:nth-child(2) {
    @apply bg-neutral-600;
  }
  .printmark-neutrals li:nth-child(3) {
    @apply bg-neutral-400;
  }
  .printmark-neutrals li:nth-child(4) {
    @apply bg-neutral-200;
  }
}
