---
layout: templates/documentation.njk
title: Activity
eleventyNavigation:
  key: Activity
  parent: Documents
---

{% import "atoms/debug/sanity-schema.njk" as schema %}
{% set activities = collections.activities | default([]) %}

{{ schema.render({ title: "Activity Schema", collection: activities }) }}