---
layout: templates/documentation.njk
title: Image Asset
eleventyNavigation:
  key: Image Asset
  parent: Documents
---
{% import "atoms/debug/sanity-schema.njk" as sanitySchema %}
{% set sanityImageAssets = collections.sanityImageAssets | default([]) %}

{{ sanitySchema.render({ title: "Sanity Image Asset Schema", collection: sanityImageAssets }) }}