---
layout: templates/documentation.njk
title: Image Asset
eleventyNavigation:
  key: Image Asset
  parent: Documents
---

{% import "atoms/debug/sanity-schema.njk" as schema %}
{% set imageAssets = collections.imageAssets | default([]) %}

{{ schema.render({ title: "Image Asset Schema", collection: imageAssets }) }}