---
layout: templates/documentation.njk
title: Industry
eleventyNavigation:
  key: Industry
  parent: Documents
---
{% import "atoms/debug/sanity-schema.njk" as sanitySchema %}
{% set sanityIndustries = collections.sanityIndustries | default([]) %}

{{ sanitySchema.render({ title: "Sanity Industry Schema", collection: sanityIndustries }) }}