---
layout: templates/documentation.njk
title: Outcome
eleventyNavigation:
  key: Outcome
  parent: Documents
---

{% import "atoms/debug/sanity-schema.njk" as schema %}
{% set outcomes = collections.outcomes | default([]) %}

{{ schema.render({ title: "Outcome Schema", collection: outcomes }) }}