---
layout: templates/documentation.njk
title: Post
eleventyNavigation:
  key: Post
  parent: Documents
---
{% import "atoms/debug/sanity-schema.njk" as sanitySchema %}
{% set sanityPosts = collections.sanityPosts | default([]) %}

{{ sanitySchema.render({ title: "Sanity Post Schema", collection: sanityPosts }) }}