---
layout: templates/documentation.njk
title: Project
eleventyNavigation:
  key: Project
  parent: Documents
---
{% import "atoms/debug/sanity-schema.njk" as sanitySchema %}
{% set sanityProjects = collections.sanityProjects | default([]) %}

{{ sanitySchema.render({ title: "Sanity Project Schema", collection: sanityProjects }) }}