---
layout: templates/documentation.njk
title: Role
eleventyNavigation:
  key: Role
  parent: Documents
---

{% import "atoms/debug/sanity-schema.njk" as schema %}
{% set roles = collections.roles | default([]) %}

{{ schema.render({ title: "Role Schema", collection: roles }) }}