---
layout: templates/documentation.njk
title: Role
eleventyNavigation:
  key: Role
  parent: Documents
---
{% import "atoms/debug/sanity-schema.njk" as sanitySchema %}
{% set sanityRoles = collections.sanityRoles | default([]) %}

{{ sanitySchema.render({ title: "Sanity Role Schema", collection: sanityRoles }) }}