{% macro render(params = {}) %}
  {% import "atoms/svg/registration-mark.njk" as RegistrationMark %}
  {% import "atoms/svg/neutrals.njk" as Neutrals %}
  {% import "atoms/svg/colors.njk" as Colors %}
  {%- set classes = params.classes | default("") -%}
  {%- set registrationMarkSize = params.registrationMarkSize | default("size-6") -%}
  <div
    role="presentation" class="printmarks pointer-events-none absolute {{ classes }}">
    {# INKS #}
    <div class="flex flex-row flex-nowrap justify-between h-6">
      {{ Neutrals.render({"classes": "flex-none"}) }}
      {{ Colors.render({"classes": "flex-none"}) }}
    </div>
    {# REGISTRATION #}
    <div class="absolute inset-0 flex flex-col items-center justify-between">
      {{ RegistrationMark.render({"classes": "flex-none " ~ registrationMarkSize}) }}
      <div class="flex flex-row flex-nowrap justify-between w-full">
        {{ RegistrationMark.render({"classes": "flex-none " ~ registrationMarkSize}) }}
        {{ RegistrationMark.render({"classes": "flex-none " ~ registrationMarkSize}) }}
      </div>
      {{ RegistrationMark.render({"classes": "flex-none " ~ registrationMarkSize}) }}
    </div>
    {# TRIM MARKS #}
    <div class="absolute inset-10 grid grid-cols-2 content-between gap-4">
      <div class="border-t-2 border-l-2 border-black size-6"></div>
      <div class="border-t-2 border-r-2 border-black size-6 justify-self-end"></div>
      <div class="border-b-2 border-l-2 border-black size-6"></div>
      <div class="border-b-2 border-r-2 border-black size-6 justify-self-end"></div>
    </div>
    {# MARGIN & BLEED #}
    <div class="absolute inset-8 border-2 border-black"></div>
    <div class="absolute inset-6 border-2 border-black border-dashed"></div>
  </div>
{% endmacro %}