{% macro render(params = {}) %}
  {# MARGIN & BLEED #}
  <div class="absolute inset-8 border-2 border-black"></div>
  <div class="absolute inset-6 border-2 border-black border-dashed"></div>
{% endmacro %}