{% extends "layouts/base.njk" %}
{% import "organisms/header/article/article-header.njk" as ArticleHeader with context %}
{% import "molecules/navigation/article-nav-links.njk" as ArticleNavLinks %}

{% block scripts %}
  <script type="module">
    import {createArticleNavToggle} from "/assets/js/choreography/molecules/article-nav-toggle.js";
    document.addEventListener("DOMContentLoaded", () => {
      const nav = document.querySelector("[data-article-nav-links]");
      if (nav) 
        createArticleNavToggle(nav);
      

    });
  </script>
{% endblock %}

{%- set article = {
  "base": [
    "prose col-span-full grid grid-cols-12 ",
    "[&>p]:col-span-full [&>p]:px-4",
    "[&>h2]:font-display [&>h2]:col-span-full [&>h2]:px-4",
    "[&>ul]:col-span-full [&>ul]:px-4 [&>ol]:col-span-full [&>ol]:px-4"
], "sm": [
    "[&>p]:col-start-5 [&>p]:col-span-6",
    "[&>h2]:col-start-5 [&>h2]:col-span-6",
    "[&>ul]:col-start-5 [&>ul]:col-span-6 [&>ol]:col-start-5 [&>ol]:col-span-6"
]} -%}
{%- set header = {
    "base": "w-full col-span-full flex items-end p-4 pb-24 gap-2 h-[90dvh] bg-black z-10 overflow-hidden text-neutral-100",
    "sm": "text-left flex flex-row",
    "md": "px-16 gap-y-14",
    "lg": "px-24 gap-y-8",
    "xl": ""
  } -%}
{%- set aside = {
    "base": "col-span-full bg-black text-neutral-100 px-4 py-0 sticky top-0",
    "sm": "relative mt-8 row-start-2 px-4 row-span-8 col-span-4 bg-transparent text-neutral-900 px-0",
    "md": "text-neutral-900 px-0"
  } -%}
{%- set copy = {
    "base": "px-6 col-span-full flex flex-col [&>h2]:font-display [&>h2]:mt-8 [&>h3]:font-display",
    "sm": "col-span-8"
  } -%}

{% block content %}
  <article data-article class="{{ article | classes }}">
    <header
      data-article-header class="{{ header | classes }}">
      {# Removed abstract from params for visual design's sake #}
      {{ ArticleHeader.render({ title: title | default('Untitled'), logoSvg: brandLogoSvg }) }}
    </header>
    <aside data-article-nav class="{{ aside | classes }}">
      {{ ArticleNavLinks.render({ headings: body | extractHeadings }) }}
    </aside>
    <div data-article-body class="{{ copy | classes }}">
      {{ body | safe }}
    </div>
  </article>
{% endblock %}