{% extends "layouts/base.njk" %}
{% import "organisms/header/article/article-header.njk" as ArticleHeader with context %}
{% import "molecules/navigation/article-nav-links.njk" as ArticleNavLinks %}

{%- set article = {
  "base": [
    "col-span-full grid grid-cols-12 gap-8",
    "[&>p]:col-start-4 [&>p]:col-span-8",
    "[&>h2]:col-start-4 [&>h2]:col-span-8",
    "[&>ul]:col-start-4 [&>ul]:col-span-8 [&>ol]:col-start-4 [&>ol]:col-span-8"
]} -%}
{%- set header = {
    "base": "col-span-full grid grid-cols-subgrid px-0 gap-x-4 gap-y-10 p-8 pb-24 content-end h-[90dvh] bg-black z-10 overflow-hidden text-neutral-100",
    "sm": "px-12 gap-y-12",
    "md": "px-16 gap-y-14",
    "lg": "px-24 gap-y-8",
    "xl": ""
  } -%}
{%- set aside = {
    "base": "pl-8 sticky top-12 row-start-2 row-span-4 col-span-3"
  } -%}

{% block content %}
  <article data-article class="{{ article | classes }}">
    <header data-article-header class="{{ header | classes }}">
      {{ ArticleHeader.render({ title: title | default('Untitled'), abstract: abstract, logoSvg: brandLogoSvg }) }}
    </header>
    <aside data-article-nav class="{{ aside | classes }}">
      {{ ArticleNavLinks.render({ headings: body | extractHeadings }) }}
    </aside>
    {{ body | safe }}
  </article>
{% endblock %}