{% import "molecules/card/category.njk" as categoryCard %}

{% macro render(params = {}) %}
  {%- set sectionId = params.id | default("work") -%}
  {%- set sectionClasses = params.sectionClasses | default("relative z-10 col-start-3 col-end-12 mb-48") -%}
  {%- set listClasses = params.listClasses | default("flex flex-col gap-48 relative text-neutral-100 sm:mx-6 md:mx-8 lg:mx-auto") -%}
  {%- set items = params.items | default(collections.ia) -%}
  {%- set cardParams = params.card | default({}) -%}

  {# Work organized by category #}
  <section class="{{ sectionClasses }}" data-scroll-section>
    <ul id="{{ sectionId }}" class="{{ listClasses }}">
      {% for category in items %}
        <li>{{ categoryCard.render({ category: category, collections: collections, card: cardParams }) }}</li>
      {% endfor %}
    </ul>
  </section>
{% endmacro %}