{# Work organized by category #}
<section>
  <ul
    id="work"
    class="flex flex-col gap-48 relative text-neutral-100 bg-neutral- sm:mx-6 md:mx-8 lg:mx-auto "
  >
    {% for category in collections.ia %}
      <li>{% include "organisms/section/project-category.njk" %}</li>
    {% endfor %}
  </ul>
</section>