{# 
  Site Title Atom
  Displays the site name as a linked button, typically used in navigation headers but adaptable to other contexts if you're willing to get a little creative with CSS.
  @param {string} params.siteName - Site name to display (defaults to site.siteName)
  @param {string} params.href - Link destination (defaults to "/")
  @param {string} params.classes - Additional CSS classes
#}
{% macro render(params = {}) %}
  {%- set siteName = params.siteName -%}
  {%- set href = params.href | default('/') -%}
  {%- set classes = params.classes | default('text-xl') -%}
  {%- set id = params.id | default('site-title') -%}
  <a
    id="{{ id }}"
    class="btn btn-ghost style-log-screensize text-neutral-100 {{ classes }}"
    href="{{ href }}"
    >
    {{ siteName }}
  </a>
{% endmacro %}
