{% extends "layouts/base.njk" %}
{% block bodyStyles %}
{% endblock bodyStyles %}
{% block mainStyles %}col-span-full mx-auto w-full max-w-6xl px-4 py-12 md:px-8{% endblock mainStyles %}
{%- set hasImage = project and project.featuredImage and project.featuredImage.asset and project.featuredImage.asset.url -%}
{%- set hasCaseStudyLink = project and project.caseStudyUrl -%}
{%- set hasExternalLink = project and project.externalLink -%}

{%- set article = {
  "base": [
    "col-span-full grid grid-cols-12 gap-8",
    "[&>p]:col-start-4 [&>p]:col-span-8",
    "[&>h2]:col-start-4 [&>h2]:col-span-8",
    "[&>ul]:col-start-4 [&>ul]:col-span-8 [&>ol]:col-start-4 [&>ol]:col-span-8"
  ]
} -%}

{%- set header = {"base": "col-span-full bg-primary-950"} -%}

{% block content %}
  <article data-case-study class="{{ article | classes }}">
    <header data-article-header class="{{ header | classes }}">
      {{ ArticleHeader.render({title:project.title|default('Untitled') ,abstract:project.abstract,logoSvg:brandLogoSvg}) }}
    </header>
    <aside data-article-nav class="{{ aside | classes }}">
      {{ ArticleNavLinks.render({headings:body|extractHeadings}) }}
    </aside>
    {{ project.bodyHtml|safe }}
  </article>
  {% if project.bodyHtml %}{% endif %}
{% endblock content %}
