<!DOCTYPE html>
<html lang="en">
  {% block head %}
    {% include "organisms/layout/head.njk" %}
  {% endblock %}
  <body class="grid grid-cols-12 {{ bodyClasses }}">
    {% include "atoms/gtm-noscript.njk" %}
    {% include "organisms/layout/header.njk" %}
    <main class="col-span-full {{ mainClasses }}">
      {% block content %}
        {% if content %}
          {{ content | safe }}
        {% else %}
          {% loremPars 3 %}
        {% endif %}
      {% endblock %}
    </main>
    {% include "organisms/layout/footer.njk" %}
  </body>
</html>
