---
layout: templates/documentation.njk
title: Components
eleventyNavigation:
  key: Components
  parent: Design
---

{% import "molecules/card/project.njk" as projectCard %}

{% set sectionStyles = "mb-12" %}
<section class="sm:grid grid-cols-2">
  {# {% set project = collections.projects | findRecord("recI8oXFCYJ8QJGaU") %} #}
  {% for project in collections.projects %}
    {{ projectCard.render({ project: project }) }}
  {% endfor %}
</section>
