---
layout: templates/documentation.njk
title: Navigation
eleventyNavigation:
  key: Navigation
  parent: Design
---

<div class="flex flex-wrap gap-4">
  {% include "organisms/navigation/mega-menu.njk" %}
</div>
