---
layout: templates/documentation.njk
title: 'Documentation'
subtitle: 'Documenting the design and development process'
metaDescription: 'no metaDescription defined'
metaKeywords: 'user experience, eleventy, tailwind'
canonicalUrl: 'https://dataink.io'
bodyClasses: ''
contentClasses: 'bg-neutral-900'
---
