---
template:
  id: "templates.molecules.list.activities"
  name: "Activities List"
  type: "partial"
  status: "active"

source:
  path: "frontend/views/molecules/list/activities.njk"
  engine: "nunjucks"
  eleventyLayout: false

purpose:
  summary: "Renders an inline comma-separated list of a project's activities."
  role: "Included in project detail contexts; requires project to be in scope."

data:
  expects:
    - "project.activities (array of activity objects with title)"
  provides:
    - "inline ul of activity titles"

contentModel:
  sanityTypes:
    - "project"

dependencies:
  styles:
    - "tailwind"

agent:
  owner: "Template Steward"
  safeToEdit:
    - "frontmatter"
    - "comments"
  doNotEdit:
    - "rendered markup"
    - "Nunjucks logic"
  reviewTriggers:
    - "project activities schema changes"

tags:
  - "molecule"
  - "list"
  - "activities"
  - "project"
  - "nunjucks"
  - "partial"
---

{% set activities = project.activities %}
{% if activities %}
  <ul class="flex flex-row flex-wrap list-none p-0 m-0">
    {% for activity in activities %}
      <li class="p-0 m-0">
        {{ activity.title }}
        {% if not loop.last %},&nbsp;{% endif %}
      </li>
    {% endfor %}
  </ul>
{% endif %}