{% macro render(params = {}) %}
  {%- set overrides = params.classes | default("leading-none") -%}
  {%- set industries = params.industries | default([]) -%}
  {%- set ulStyles = {
    base: "leading-none text-md list-none m-0 divide-y-2 divide-slate-800 w-full border-y-2 border-slate-800",
    md: "grid grid-flow-col bg-slate-950 divide-y-0 divide-x-2 divide-slate-800"
  } -%}
  {%- set liStyles = {
    "base": "text-primary-200 bg-slate-950 w-full flex justify-center",
     hover: "bg-slate-900 text-neutral-50"
  } -%}
  {%- set aStyles = {
    base: "h-18 flex items-center py-0 no-underline font-display text-md leading-none transition-colors"
  } -%}

  <ul data-projects-el="industry-links" class="{{ ulStyles | classes }} {{ overrides }}">
    {% for industryTitle, projects in industries %}
      <li class="{{ liStyles | classes }}">
        <a href="#industry-{{ industryTitle | slugify }}" data-projects-el="industry-link" class="{{ aStyles | classes }}">{{ industryTitle }}</a>
      </li>
    {% endfor %}
  </ul>
{% endmacro %}