{% import "atoms/link/nav-link.njk" as nav_link with context %}
{% import "atoms/hanko/hanko.njk" as Hanko %}
{% macro render(params = {}) %}
  {%- set items = params.items | default([]) -%}
  {%- set logoSvg = params.logoSvg -%}

  {%- set ulClasses = {
    "base": "w-full flex list-none gap-2 items-center",
    "sm": "",
    "md": "",
    "lg": "",
    "xl": ""
  } %}
  {%- set liClasses = {
    "base": "",
    "sm": "",
    "md": "",
    "lg": "",
    "xl": ""
  } -%}
  {%- set hankoWrapperClasses = {
    "base": "inline-block mr-auto w-12",
    "sm": "",
    "md": "",
    "lg": "",
    "xl": ""
  } -%}
  {%- set hankoClasses = {
    "base": "block w-24 text-secondary-700",
    "sm": "",
    "md": "",
    "lg": "",
    "xl": ""
  } -%}
  {%- set navLinkClasses = {
    "base": "inline-block text-secondary-700 whitespace-nowrap",
    "sm": "",
    "md": "",
    "lg": "",
    "xl": ""
  } -%}
  <ul class="{{ ulClasses | classes }}" role="list">
    {%- for entry in items -%}
      {%- set hasHref = entry and (entry.url or entry.href) -%}
      {%- set entryHref = entry.url or entry.href -%}
      {%- set isCurrent = entryHref == page.url -%}
      {%- if hasHref and (entry.title or entry.key) -%}
        {%- if loop.first -%}
          <li class="{{ hankoWrapperClasses | classes }}">
            <a href="/" class="" aria-label="Home">
              {{ Hanko.render({ svg: logoSvg }) }}
            </a>
          {%- elif isCurrent -%}
            <li class="{{ liClasses | classes }}">
              <span class="{{ navLinkClasses | classes }}" aria-current="page">{{ entry.title or entry.key }}</span>
            {%- else -%}
              <li class="{{ liClasses | classes }}">
                {{ nav_link.render({ entry: entry, classes: navLinkClasses | classes }) }}
              {%- endif -%}
            </li>
          {%- endif -%}
        {%- endfor -%}
      </ul>
    {% endmacro %}