{% import "atoms/link/nav-link.njk" as nav_link with context %}

{% macro render(params = {}) %}
  {%- set items = params.items | default([]) -%}

  <ul class="w-full flex list-none justify-end gap-6 m-0" role="list">
    {%- for entry in items -%}
      {%- set hasHref = entry and (entry.url or entry.href) -%}
      {%- if hasHref and (entry.title or entry.key) -%}
        <li {% if loop.first %} class="mr-auto" {% endif %}>
          {{ nav_link.render({ entry: entry }) }}
        </li>
      {%- endif -%}
    {%- endfor -%}
  </ul>
{% endmacro %}