{% import "molecules/card/project.njk" as Card %}
{% macro render(params = {}) %}
  <ul data-projects-el="list" class="{{ params.classes | default("") }}">
    {% for project in params.projects %}
      <li data-projects-el="project" class="-z-1">
        {{ Card.render({ project: project, headingLevel: 4, eager: loop.first and loop.parent.first }) }}
      </li>
    {% endfor %}
  </ul>
{% endmacro %}