{% macro render(params = {}) %}
  {%- set orgs = params.orgs | default([]) -%}
  {%- if orgs | length -%}
    <ul class="{{ params.class | default('') }}">
      {%- for org in orgs -%}
        <li>
          {{ org.title }}
          {%- if not loop.last %},
          {% endif -%}
        </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}
{% endmacro %}