{% macro render(params = {}) %}
  {%- set orgs = params.orgs | default([]) -%}
  {%- if orgs | length -%}
    <span class="{{ params.class | default('') }}">
      {%- for org in orgs -%}
        {{ org.title }}
        {%- if not loop.last %},
        {% endif -%}
      {%- endfor -%}
    </span>
  {%- endif -%}
{% endmacro %}