{% import "molecules/card/project.njk" as Card %}
{% macro render(params = {}) %}
  {%- set projects = params.projects or [] -%}
  {%- set list = {"base": "mx-auto grid gap-y-[75dvh] gap-x-4 max-w-screen-lg", "lg": "gap-y-12"} -%}
  {%- set item = {"base": "last:pb-[75dvh]", "lg": "last:pb-0"} -%}
  {%- set industries = ["Advertising", "Civic Tech", "Documentary, Advocacy, and Identity", "Museums & Memorials", "Product & Platform"] -%}
  {%- set projectsByIndustry = projects | groupBy("industry") -%}

  {%- for industry in industries -%}
    {%- set industryProjects = projectsByIndustry[industry] or [] -%}

    {%- if industryProjects.length -%}
      <section class="col-span-full">
        <h2>{{ industry }}</h2>
        <ul data-projects-el="list" class="{{ list | classes }}">
          {%- for project in industryProjects -%}
            <li data-projects-el="project" class="{{ item | classes }}">
              {{ Card.render({ project: project, headingLevel: 4, eager: loop.first and loop.parent.first, classes: "shadow-neutral-950/50 shadow-sm" }) }}
            </li>
          {%- endfor -%}
        </ul>
      </section>
    {%- endif -%}
  {%- endfor -%}
{% endmacro %}
