---
layout: templates/documentation.njk
title: Award
eleventyNavigation:
  key: Award
  parent: Documents
---

{% import "atoms/debug/sanity-schema.njk" as schema %}
{% set awards = collections.awards | default([]) %}
{{ schema.render({ title: "Award Schema", collection: awards }) }}