---
layout: templates/documentation.njk
title: Organization
eleventyNavigation:
  key: Organization
  parent: Documents
---

{% import "atoms/debug/sanity-schema.njk" as schema %}
{% set organizations = collections.organizations | default([]) %}

{{ schema.render({ title: "Organization Schema", collection: organizations }) }}