---
layout: templates/documentation.njk
title: Post
eleventyNavigation:
  key: Post
  parent: Documents
---

{% import "atoms/debug/sanity-schema.njk" as schema %}
{% set posts = collections.posts | default([]) %}

{{ schema.render({ title: "Post Schema", collection: posts }) }}