---
layout: templates/documentation.njk
title: Project
eleventyNavigation:
  key: Project
  parent: Documents
---

{% import "atoms/debug/sanity-schema.njk" as schema %}
{% set projects = collections.projects | default([]) %}

{{ schema.render({ title: "Project Schema", collection: projects }) }}