{% import "molecules/card/award-organization.njk" as AwardOrganization %}
{% macro render(params = {}) %}
  {% set awards = params.awards %}
  {% set styles = params.class %}
  {%- set articleContainer = {
    "base": "p-2 py-4 col-span-full bg-slate-950",
    "md": "col-start-2 col-span-2 divide-x divide-slate-700 bg-slate-950"
  } -%}
  {%- set listCSS = {
    "base": "flex flex-col gap-4",
    "md": "flex-row flex-wrap gap-4"
  } -%}
  {% if awards | length %}
    <section class="{{ styles | default('') }}" aria-label="Awards">
      <h2 class="text-lg mb-4 border-b-2 border-slate-700 text-neutral-400 border-dotted">Awards</h2>
      <ul data-awards-el="list" class=" {{ listCSS | classes }} ">
        {% for orgId, group in awards | groupByOrg %}
          <li data-awards-el="group" class="{{ articleContainer | classes }} ">
            {{ AwardOrganization.render(group) }}
          </li>
        {% endfor %}
      </ul>
    </section>
  {% endif %}
{% endmacro %}