<form action="{{ action }}" method="POST" class="form-control">
  {% include "atoms/input.njk" with { placeholder: "Your Name" } %}
  {% include "atoms/button.njk" with { label: "Submit", type: "success" } %}
</form>