{% import "atoms/hanko/hanko.njk" as Hanko %}

{%- set hanko = {
    base: "hanko justify-self-end block text-secondary-500 w-full"} -%}
{%- set svg = cms.siteSettings[0].brand.logo.asset.url | inlineSvgFromUrl -%}

{% macro render(params = {}) -%}
  <div class="flex flex-col items-center text-center gap-1">
    {{ Hanko.render({svg: svg, classes: hanko | classes}) }}
  </div>
{%- endmacro %}