{% import "molecules/list/build-info.njk" as BuildInfo with context %}
{% macro render(params = {}) %}
  {%- set prefix = params.prefix | default("doc") -%}
  {%- set count = params.count | default("") -%}
  {%- set title = params.title | default("") -%}

  <ul data-buildinfo-el="cap" class="{{ params.classes }} group/cap">
    <li data-current-section-title class="text-secondary-500 text-left basis-1/3 group-data-[open]/cap:basis-1/6">{{ title }}</li>
    <li data-current-section-count class="justify-self-center text-center basis-1/3 group-data-[open]/cap:basis-1/6">{{ prefix }}
      {{ count }}</li>
    <li class="basis-1/3 group-data-[open]/cap:basis-2/3">{{ BuildInfo.render() }}</li>
  </ul>
{% endmacro %}