{# Current Section Title - a simple text element that displays the id of its parent and its location with respect to its siblings. #}
{% macro render(params = {}) %}
  {%- set prefix = params.prefix | default("doc") -%}
  {%- set count = params.count | default("") -%}
  {%- set title = params.title | default("") -%}
  {%- set buildDate = params.buildDate -%}
  {%- set cap = {
    base: "sticky top-0 bg-slate-950 text-xs z-10 w-full px-6 py-2 col-span-full border-b-2 border-b-slate-700 grid
        grid-cols-3"
  } %}
  <div class="{{ cap | classes }}">
    <span data-current-section-title class="text-secondary-500 justify-self-start">{{ title }}</span>
    <span data-current-section-count class="justify-self-center">{{ prefix }}
      {{ count }}</span>
    <time class="text-neutral-400 justify-self-end" datetime="{{ buildDate | formatDate("yyyy-MM-dd'T'HH:mm:ss'Z'") }}">{{ buildDate | formatDate("yyyy.MM.dd'T'HH:mm:ss'Z'") }}</time>
  </div>
{% endmacro %}