{% import "molecules/list/project-cards.njk" as ProjectCards %}
{% macro render(params = {}) %}
  {%- set section = {
  base: "flex items-start my-12"} -%}
  {%- set projects = {} -%}
  <section data-projects-el="industry-group" class="{{ section | classes }}" aria-labelledby="{{ params.industryTitle | slugify }}">
    <h3 id="{{ params.industryTitle | slugify }}" data-projects-el="industry-heading">
      {{ params.industryTitle }}
    </h3>
    {{ ProjectCards.render({ projects: params.projects, classes: "{{ projects | classes }}" }) }}
  </section>
{% endmacro %}