
{# Biography section - GSAP Biography Controller Target #}
<section class="relative z-10 col-start-3 col-end-12 mb-48 text-neutral-100" id="biography" data-scroll-section>
    <p>As a digital experience designer, I often find myself asking, "What matters here?"</p>
    <p>Is it the story we want to tell? The emotions we want to evoke? The actions we want to inspire?</p>
    <p>By focusing on what truly matters, I strive to create experiences that are not only visually stunning but also deeply meaningful and impactful.</p>
</section>