
{# Biography section - GSAP Biography Controller Target #}
<section>
    <ol id="biography" class="col-span-full text-neutral-100" data-scroll-section>
    <li class="h-56 flex items-center justify-center">
        <h2>I did not set out to be a designer</h2>
    </li>
    <li class="h-56 flex items-center justify-center">
        <h2>I was supposed to be an anthropologist</h2>
        <p>
        Spending time in the field, studying tool use, and asking people what they
        call their mother's uncle.
        </p>
    </li>
    <li class="h-56 flex items-center justify-center">
        <h2>
        But I realized that I wanted to do more than just record. I wanted to
        create.
        </h2>
    </li>
    </ol>
</section>