---
layout: templates/base.njk
title: About
eleventyNavigation:
    key: About
---
<h2>About Our Project</h2>
<p>This project demonstrates Atomic Design principles with Eleventy, TailwindCSS, and DaisyUI.</p>
