
{% macro render(params = {}) %}
  {%- set sectionId = params.id | default("hero") -%}
  {%- set size = params.size | default("col-span-full w-full h-dvh ") -%}
  {%- set layout = params.layout | default("grid grid-cols-subgrid") -%}
  {%- set positioning = params.positioning | default("flex items-center justify-items-start") -%}
  {%- set titleText = params.title | default(title) -%}
  {%- set rulerOptions = params.ruler | default({}) -%}

  {# DEV #}
  {%- set hClasses = "col-span-full z-10 text-6xl
            sm:text-7xl 
            md:text-8xl 
            lg:text-9xl 
            leading-12 
            sm:leading-14 
            md:leading-16 
            lg:leading-28
            tracking-tighter 
            uppercase 
            font-display 
            p-12 
            text-primary-100" %}

  {# Landing view - GSAP Hero Controller Target #}
  <section id="{{ sectionId }}" style="opacity:0;" class="{{ size }} {{ layout }} {{ positioning }}" data-scroll-section>
    <h1
      id="hero-title"
      class="{{ hClasses }}"
    >
      {{ titleText }}
    </h1>
  </section>
{% endmacro %}