<section
  id="{{ category.slug }}"
  class="project-category relative flex flex-col p-8 py-16 gap-8"
>
  <h3
    class="text-6xl font-display font-black tracking-tight leading-none"
    data-text="{{ category.title }}"
  >
    {{ category.title }}
  </h3>
  {% loremPars 1 %}
  {# Get three projects for this category. Sort them by weight, ascending. Assume the first is meant to be featured. #}
  <ul class="projects col-span-full space-y-12 mx-4">
    {% for project in collections.projects | findRecord(category.projects) | sortByKey("weight") | getByIndexRange(0, 2) %}
      <li class="break-inside-avoid">
        {% include "molecules/card/project.njk" %}
      </li>
    {% endfor %}
  </ul>
  <h4>Recognition</h4>
  <h4>Outcomes</h4>
</section>
