<h1
    id="main-title"
    class="mask-grunge mask-luminance mask-cover mask-center mask-no-repeat mask-border mask-add z-10 text-6xl
        sm:text-7xl md:text-8xl lg:text-9xl tracking-tighter uppercase font-display p-4 text-neutral-100 mx-auto">
    {{ title }}
</h1>