<footer>
    <div class="col-span-full py-8 px-4 md:px-8 lg:px-12 bg-gray-900 text-gray-400 text-center text-sm">
        &copy; {{ "now" | date("YYYY") }} data:ink:io. All rights reserved.
    </div>
</footer>