{% macro render(params = {}) %}
  {% set crumbs = collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.key) %}
  <nav aria-label="Breadcrumb">
    <ol>
      {% for crumb in crumbs %}
        <li>
            <a class="font-display before:mr-2 before:text-neutral-500 before:content-['\2190']" href="{{ crumb.url | url }}">{{ crumb.title }}</a>
        </li>
      {% endfor %}
    </ol>
  </nav>
{% endmacro %}