{%- set page_nav_styles =  {
      base: "absolute left-0 top-0 w-full bg-slate-950 text-center px-12"
} -%}
{%- set page_nav_ul_styles =  {
      base: "divide-y divide-slate-800 flex flex-col justify-center my-auto"
} -%}
{%- set page_nav_li_styles =  {
      base: "basis-full flex items-center justify-center"
} -%}
{%- set page_nav_a_styles =  {
      base: "block w-full h-full py-12 hover:bg-slate-900"
} -%}
{% macro render(params = {}) %}
  <nav aria-label="Page sections" style="{{ params.init }}" class="{{ page_nav_styles | classes }}">
    <ul class="{{ page_nav_ul_styles | classes }}">
      <li class="{{ page_nav_li_styles | classes }}">
        <a class="{{ page_nav_a_styles | classes }}" href="#overview">Overview</a>
      </li>
      <li class="{{ page_nav_li_styles | classes }}">
        <a class="{{ page_nav_a_styles | classes }}" href="#introduction">Dossier</a>
      </li>
      <li class="{{ page_nav_li_styles | classes }}">
        <a class="{{ page_nav_a_styles | classes }}" href="#work">Case studies</a>
      </li>
      <li class="{{ page_nav_li_styles | classes }}">
        <a class="{{ page_nav_a_styles | classes }}" href="#recognition">Recognition</a>
      </li>
      <li class="{{ page_nav_li_styles | classes }}">
        <a class="{{ page_nav_a_styles | classes }}" href="#contact">Contact</a>
      </li>
    </ul>
  </nav>
{% endmacro %}