<button class="btn btn-{{ type | default('primary') }} {{ btnStyles }}" {% if disabled %} disabled {% endif %} {% if onclick %} onclick="{{ onclick }}" {% endif %}>
  {{ label | default('Button') }}
</button>