{# TODO: This component is currently only used in the work section, but it could be abstracted and reused for other sections that require a toggle. #}
{% import "atoms/icon.njk" as Icon %}
{%- macro render(params = {}) -%}
  {%- set label = params.label | default("Toggle") -%}
  {%- set styles = {
  base: "group flex w-full p-2 text-primary-200 bg-slate-950"
  } -%}

  {%- set label = {
    base: "font-display text-left text-xl basis-full arrow-prefix"
  } -%}

  {%- set overrides = params.classes | default({}) -%}
  <button type="button" data-projects-el="nav-toggle" aria-expanded="false" aria-controls="work-jumplinks" class="{{ styles | classes }} {{ overrides }}">
    <span data-projects-el="nav-toggle-label" class="{{ label | classes }}">{{ label }}</span>
    <span class="">Industries</span>
    {{ Icon.render({ name: "chevron-down", size: "lg", class: "group-aria-[expanded=true]:hidden" }) }}
    {{ Icon.render({ name: "chevron-up", size: "lg", class: "hidden group-aria-[expanded=true]:block" }) }}
  </button>
{%- endmacro -%}