{% import "atoms/video/video.njk" as videoAtom %}
{% import "atoms/gel.njk" as Gel %}
{% macro render(params = {}) %}
  {%- set bgID = params.id | default('sizzle-background') -%}
  {%- set containerClasses = params.classes | default('fixed inset-0 -z-10 pointer-events-none overflow-hidden') -%}
  {%- set containerStyles = params.styles | default('') -%}
  <div id="{{ bgID }}" style="{{ containerStyles }}" class="{{ containerClasses }}" aria-hidden="true">
    {{ videoAtom.render({
      src: params.videoSrc,
      defer: params.defer | default(true),
      poster: params.poster | default(''),
      autoplay: params.autoPlay | default(false),
      loop: params.loop | default(true),
      muted: params.muted | default(true),
      playsInline: params.playsInline | default(true),
      preload: params.preload | default("metadata"),
      classes: "w-full h-dvh md:h-full object-cover z-0 gsap-element gsap-fade",
      styles: ""
    }) }}
    <div class="absolute inset-0 bg-pixelator opacity-60 pointer-events-none z-10"></div>
    {{ Gel.render({ id: 'bg-gel-0', color: 'bg-gel-primary' }) }}
    {{ Gel.render({ id: 'bg-gel-1', color: 'bg-gel-accent' }) }}
    {{ Gel.render({ id: 'bg-gel-2', color: 'bg-gel-secondary' }) }}
  </div>
{% endmacro %}