<div class="modal-box max-w-none rounded-none bg-transparent shadow-none flex flex-col gap-12">
    <header class="flex flex-col items-center sm:grid sm:grid-cols-6 sm:place-content-center gap-4 border-b-2 border-b-primary-light">
        {% set avatarStyles = "row-span-2" %}
        {% include "atoms/avatar.njk" %}
        <h2 class="col-span-5 sm:self-end">A Creative Technologist</h2>
        <p class="prose text-center sm:text-left col-start-2 col-span-5">{% loremChars 128 %}</p>
    </header>

    {{ collections.all | eleventyNavigation | filterByKey("key", "Design") | eleventyNavigationToHtml | safe }}
    {{ collections.all | eleventyNavigation | filterByKey("key", "About") | eleventyNavigationToHtml | safe }}

    <ul>
        <li>
            <a href="" class="font-light">The Design Leader's Playbook</a>
        </li>
        <li>
            <a href="" class="font-light">Under the Hood</a>
        </li>
    </ul>

    <ul class="columns-3">
        <li>
            <a href="" class="font-light">Lab</a>
        </li>
        <li>
            <a href="" class="font-light">Teaching</a>
        </li>
        <li>
            <a href="" class="font-light">Now</a>
        </li>
    </ul>
</div>