<nav id="primary-nav" class="flex items-center justify-between px-6 py-3" aria-label="Primary Navigation">
{% import "atoms/link/site-title.njk" as site_title %}
{% import "molecules/list/main-pages.njk" as main_pages %}
{{
  site_title.render({
    siteName: site.siteName,
    href: "/",
    classes: "mr-auto whitespace-nowrap",
    id: "primary-site-title"
  })
}}
{{ main_pages.render({
  classes: "flex list-none items-center gap-6 m-0",
  items: eleventyNavigation
}) }}
</nav>