<!-- PROJECT DETAILS -->
<dl class="flex flex-row flex-wrap gap-2 font-light content-center">
    <dt class="sr-only">Clients, Partners, and Employers</dt>
    <dd class=" border-r-neutral border-r pr-2 leading-tight">
        {% include "molecules/list/organizations.njk" %}
    </dd>
    <dt class="sr-only">Roles</dt>
    <dd class="leading-tight">
        {% include "molecules/list/roles.njk" %}
    </dd>
</dl>