{% import "organisms/navigation/breadcrumbs-nav.njk" as BreadCrumbs with context %}
{% import "molecules/project-metadata/project-metadata.njk" as ProjectMetadata %}
{% import "molecules/awards.njk" as Awards %}
{% import "molecules/list/project-orgs.njk" as ProjectOrgs %}
{% import "molecules/figure/featured-image.njk" as FeaturedImage %}

{% macro render(params) %}

  {%- set header = {
    "base": "mt-24 border-0 relative col-span-full overflow-hidden text-neutral-100 bg-slate-700",
    "md": "mt-12 grid grid-cols-3 p-[1px] bg-slate-700 gap-[1px] "
  } -%}

  {%- set heading = {"base": "py-6 text-5xl col-span-3 font-display z-[2] text-neutral-100 bg-slate-950", "md": "px-4 py-8"} -%}

  {%- set byline = {"base": "bg-slate-950 z-[3] flex text-lg text-neutral-400"} -%}
  {%- set abstract = {"base": "bg-slate-950 font-thin text-xl row-span-2 col-span-2"} -%}

  {%- set image = {"base": "p-4 bg-slate-950 col-span-2 w-full aspect-video object-cover z-[1]"} -%}

  {%- set cap = {"base": "py-2 col-span-full bg-slate-950 m-0 font-display text-lg text-neutral-400", "md": "p-4"} -%}

  {%- set metadata = {"base": "col-span-full bg-slate-950 text-neutral-500", "md": "col-start-3 row-start-3 row-span-2"} -%}

  {%- set awards = {"base": "w-full col-span-full bg-slate-950 p-4 pb-6", "md": ""} -%}

  <header data-project-header class="{{ header | classes }}">
    <p class="{{ cap | classes }}" data-project-industry>{{ params.project.industry.title | default("") }}</p>
    <h1 id="case-study-title"
        data-landing-header-title
        class="{{ heading | classes }}">{{ params.project.title | default("Untitled") }}</h1>
    <section class="{{ abstract | classes }}" data-project-abstract>
      {{ params.project.abstract | safe }}
    </section>
    {{ ProjectMetadata.render({ project: params.project, classes: metadata | classes, aria: "Project metadata" }) }}
    {{ FeaturedImage.render({ image: params.project.featuredImage, class: image | classes }) }}
  </header>
{% endmacro %}
