---
layout: templates/documentation.njk
title: Sections
eleventyNavigation:
  key: Section Design
  parent: Design
---

{% import "organisms/section/bio.njk" as bioSection %}
{# citibank, capital one, booz-allen, accenture #}
{{ bioSection.render({ id: "bio", title: title }) }}