{% extends "templates/landing/landing.njk" %}
{% import "organisms/forms/contact-form.njk" as contact_form %}

{% block content %}
  {{ super() }}
  {{ contact_form.render({"formStyles": "col-span-6 col-start-7 row-span-2 row-start-1 self-center"}) }}
  {% include "templates/partials/choreography-script.njk" %}
  <script type="module" src="/assets/js/layouts/contact-landing-header.js"></script>
{% endblock content %}
