{% extends "templates/landing/landing.njk" %}
{% import "organisms/forms/contact-form.njk" as contact_form %}
{% import "molecules/list/social-accounts-list.njk" as social_accounts with context %}
{% import "atoms/svg/email.njk" as email_icon %}
{% import "atoms/svg/location.njk" as location_icon %}
{% import "atoms/svg/globe.njk" as social_icon %}

{% set socialStyles = {"base": "text-primary-400"} %}
{% set formStyles = {
  "base": "col-span-full grid grid-cols-subgrid",
  "lg": "col-span-6 col-start-7 row-start-1 row-span-3 self-center"
} %}

{% block content %}
  {{ super() }}
  <ul class="col-span-full w-full text-primary-200 font-display flex flex-col max-w-md">
    <li class="flex items-center">
      {{ email_icon.render({"styles": "size-10"}) }}
      <address class="border-l px-4 ml-4 py-4  not-italic">
        <span class="block text-xs text-neutral-400">Email</span>
        <a class="text-primary-400" href="mailto:{{ mailto }}">{{ mailto }}</a>
      </address>
    </li>
    <li class="flex items-center border-y">
      {{ location_icon.render({"styles": "size-10"}) }}
      <address class="border-l px-4 ml-4 py-4 not-italic">
        <span class="block text-xs text-neutral-400">Based In</span>
        <span class="text-primary-400">{{ location }}</span>
      </address>
    </li>
    <li class="flex items-center">{{ social_accounts.render({"classes": socialStyles | classes}) }}</li>
  </ul>
  {{ contact_form.render({"formStyles": formStyles | classes, "docNo": docNo, "docTitle": eleventyNavigation.title}) }}
  {% include "templates/partials/choreography-script.njk" %}
{% endblock content %}
