{% import "organisms/navigation/skip-links.njk" as skip_links %}
{{ skip_links.render() }}
<header id="global-header" class="fixed top-0 left-0 z-50 w-full" aria-label="Global Site Header">
  {% include "organisms/navigation/primary-nav.njk" %}
</header>