  <header id="splash-loader"  class="bg-primary-100 col-span-full h-dvh flex items-center justify-items-start" data-scroll-section aria-hidden="true">
    <span class="brand font-sans font-bold tracking-tight mx-auto text-6xl">data:ink:io</span>
  </header>