{% import "atoms/hanko/hanko.njk" as Hanko %}
{% import "molecules/labels/accession-label.njk" as Label %}
{% macro render(params) %}
  {%- set headerStyles = {"base": "col-span-full", "sm": "", "md": "", "lg": "col-span-6 space-y-8", "xl": ""} -%}
  {%- set headerStyleOverrides = params.headerStyles | default({}) -%}
  {%- set headingStyles = {
    "base": "pl-1 font-display text-6xl leading-12 tracking-loose",
    "sm": "text-7xl leading-14",
    "md": "",
    "xl": "text-8xl leading-20"
  } -%}

  <header data-landing-header
          class="{{ headerStyles | classes }} {{ headerStyleOverrides | classes }}">
    {{ Label.render({
        index: params.docNo | default("00"),
        title: params.docTitle | default(params.title) | default("Untitled"),
        description: "Russ Lebo / Selected Works Archive",
        scope: "2008-" + (buildDate | formatDate("yyyy") )
    }) }}
    <h1 data-landing-header-title class="{{ headingStyles | classes }}">{{ params.title | default("Untitled") }}</h1>
  </header>
{% endmacro %}
