{% import "atoms/hanko/hanko.njk" as Logo %}

{# STYLES #}
{%- set preloaderStyles = {
  "base": "bg-slate-950 bg-graphpaper-primary-100 grid grid-cols-1 content-center justify-center auto-rows-auto fixed inset-0 z-50 gap-3"
} -%}
{%- set logoStyles = {"base": "hanko block text-secondary-500 w-24 mx-auto"} -%}
{%- set headingStyles = {"base": "font-display text-4xl leading-8 text-primary-200 text-justify p-0 m-0 w-24 mx-auto"} -%}
{%- set subtitleStyles = {
  "base": "font-display text-lg tracking-widest p-2 aspect-square mx-auto leading-none text-slate-600 border-2 border-slate-700 w-24"
} -%}

{# VIEW #}

{% macro render(params = {}) %}
  <div data-preloader id="preloader" class="{{ preloaderStyles | classes }}">
    {{ Logo.render({svg: params.svg, classes: logoStyles | classes, attrs: "data-preloader-logo"}) }}
    <p data-preloader-author class="{{ headingStyles | classes }}">Russ Lebo</p>
    <p data-preloader-subtitle class="{{ subtitleStyles | classes }}">UX IXD AIX DX</p>
  </div>
{% endmacro %}
