{% extends "layouts/landing.njk" %}
{% import "molecules/card/project.njk" as ProjectCard %}
{% set bodyClasses = "" %}
{% set mainClasses = "bg-black col-span-full w-full" %}
{% block content %}
  {{ super() }}
  {% if collections.projects and collections.projects.length %}
    <ul class="space-y-2">
      {% for project in collections.projects %}
        {% set projectHref = project.url or (project.slug and '/work/' ~ project.slug ~ '/') %}
        <li class="text-black">
          {{ ProjectCard.render({ project: project, url: projectHref, headingLevel: 2 }) }}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No projects found.</p>
  {% endif %}
{% endblock %}