{% extends "layouts/base.njk" %}
{% from "molecules/navigation/jumplinks.njk" import render as jumplinks %}
{% set sidebar_before = true %}
{% block sidebar_before %}
  {{ jumplinks({ headings: body | extractHeadings }) }}
{% endblock %}
{% block content %}
  {{ body | safe }}
{% endblock %}