{% macro render(params = {}) %}
  {%- set logo = params.logo.asset.url | default(params.logoUrl) | default(params.logo) -%}
  {%- set title = params.title | default('Untitled organization') -%}
  {%- set logoAlt = params.logo.alt | default(params.logoAlt) | default(title ~ ' logo') -%}

  {% if logo %}
    <img src="{{ logo | escape }}" alt="{{ logoAlt | escape }}" loading="lazy" decoding="async" class="h-12 w-auto object-contain"/>
  {% else %}
    {{ title }}
  {% endif %}
{% endmacro %}