{% macro render(params = {}) %}
  {% import "molecules/current-section-title.njk" as CurrentSectionTitle %}
  {% import "molecules/card/card.njk" as Card %}

  {%- set sectionId = params.id | default("recognition") -%}
  {%- set classes = params.classes | default("") -%}
  {%- set heading = params.copy.heading -%}
  {%- set subheading = params.copy.subheading -%}
  {%- set body = params.copy.body -%}
  {%- set order = params.order | default("") -%}

  {%- set awards = params.awards | default([]) -%}

  <section id="{{ sectionId }}" class="relative z-10 col-span-full grid grid-cols-subgrid p-0 {{ classes }} " data-scroll-section>
    <header data-awards-el="header" class="col-span-full">
      <div data-awards-el="context" class="text-sm col-span-full">
        {{ CurrentSectionTitle.render({title: sectionId , count: order}) }}
      </div>
      <h2 data-awards-el="heading" class="col-span-full">{{ heading }}</h2>
      <p data-awards-el="body" class="col-span-full">{{ body }}</p>
    </header>
    {% if awards | length %}
      <ul data-awards-el="list" class="col-span-full grid grid-cols-4 gap-4">
        {% for award in awards %}
          {%- set awardTitle = award.title | default("Untitled award") -%}
          {%- set awardImage = award.organization.logo | default(award.logo) -%}
          {%- set awardUrl = award.url | default("") -%}
          <li data-awards-el="award" class="text-neutral-500">
            {{ Card.render({ title: awardTitle, image: awardImage, url: awardUrl, imageClasses: "saturate-0 invert" }) }}
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p class="col-span-full">No awards found.</p>
    {% endif %}
  </section>
{% endmacro %}