{% macro render(params = {}) %}
  {% import "molecules/current-section-title.njk" as CurrentSectionTitle %}
  {%- set sectionId = params.id | default("bio") -%}
  {%- set classes = params.classes | default("") -%}
  {%- set heading = params.copy.heading -%}
  {%- set subheading = params.copy.subheading -%}
  {%- set body = params.copy.body -%}
  {%- set order = params.order | default("") -%}
  {%- set headingId = params.headingId | default(sectionId ~ "-heading") -%}

  {# Biography section #}
  <section class="relative bg-gel-neutral col-span-full sticky top-0 p-4 space-y-48 prose prose-invert max-w-none [&>:not(header)]:px-4 {{ classes }}" id="{{ sectionId }}" aria-labelledby="{{ headingId }}" data-scroll-section>
    <header class="col-span-full sticky top-0 z-10 p-4 pt-10 space-y-4" data-bio-el="header">
      <div class="text-sm" data-bio-el="context">
        {{ CurrentSectionTitle.render({title: sectionId , count: order}) }}
      </div>
      <h2 id="{{ headingId }}" data-bio-el="heading">{{ heading }}</h2>
      <p class="text-2xl" data-bio-el="subheading">{{ subheading }}</p>
    </header>
    {{ body | safe }}
  </section>
{% endmacro %}