{% set ancestry = collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.key) %}
<ul>
  {% for parent in ancestry %}
    <li>
      {% set url = parent.url %}
      {% set label = parent.key %}
      {% include "atoms/link/breadcrumb.njk" %}
    </li>
  {% endfor %}
</ul>
