{# 
    Provides a link for navigating to a given project's sibling (i.e. a project either immediately before or after the given project).
    The layout and show/hide animation is determined by the sibling's position relative to the given project (i.e. "direction").
    Assume that "direction" has been defined. The value determines the layout of the container and how it shows/hides its content.
    Layout above sm is a little tricky as it relies on a fixed width.
#}
{% set placement = "items-end justify-self-end flex-row" %}
{% set textAlign = "text-right" %}
{% set reveal = "md:translate-x-full md:group-hover:translate-x-0" %}
{% set iconName = "direction-right" %}
{% if direction == "previous" %}
  {% set placement = "items-start justify-self-start flex-row-reverse" %}
  {% set textAlign = "text-left" %}
  {% set reveal = "md:-translate-x-full md:group-hover:translate-x-0" %}
  {% set iconName = "direction-left" %}
{% endif %}
{# Set responsive styles for the container #}
{% set base = "group flex p-0 w-full" %}
{% set md = "md:w-64 md:h-36" %}
{% set xl = "" %}
<a
  class="sexy-link hover:no-underline project-nav-{{ direction }} {{ placement }} {{ base }} {{ md }} {{ xl }}" href="{{ sibling.slug }}">
  {# Set responsive styles for the details #}
  {% set base = "bg-primary hover:bg-primary-dark border border-primary-dark flex flex-col p-2 w-full h-full -z-10" %}
  {% set md = "md:w-60 md:hover:bg-primary" %}
  {% set xl = "" %}
  {% set animate = "transform transition-transform duration-300 ease-in-out" %}
  <div
    class="{{ base }} {{ md }} {{ xl }} {{ textAlign }} {{ animate }} {{ reveal }}">
    {# Set the label #}
    <span class="text-xl md:text-2xl text-center w-full font-serif italic text-accent">
      {% if direction == "next" %}
        Next
      {% else %}
        Previous
      {% endif %}
    </span>
    {# Display the title and client info for the sibling #}
    <h4 class="hidden md:block text-sm font-light">{{ sibling.name }}</h4>
    {% set orgs = collections.organizations | findRecord(sibling.organizations) %}
    {% if orgs %}
      <ul class="hidden md:flex flex-row text-xs">
        {% for org in orgs %}
          <li class="font-thin">
            {{ org.name }}
            {% if not loop.last %},&nbsp;{% endif %}
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
  {# Unified icon system - set variables before include #}
  {% set name = iconName %}
  {% set size = "lg" %}
  {% set className = "hidden md:block my-auto mx-auto bg-primary-dark h-full w-8 p-2" %}
  {% include "atoms/icon.njk" %}
</a>