{# FUNCTIONALITY IMPORTS #}
{% import "organisms/SitePreloader.njk" as Preloader %}
{% import "organisms/header/global-header.njk" as Header with context %}
{% import "organisms/footer/global-footer.njk" as Footer with context %}

{# UX IMPORTS #}
{% import "organisms/navigation/skip-links-nav.njk" as SkipLinksNav %}
{% import "molecules/background/sizzle-background.njk" as Background %}

{# SECTION CONTENT #}
{% import "organisms/section/hero.njk" as heroSection %}
{% import "organisms/section/bio.njk" as bioSection %}
{% import "organisms/section/awards.njk" as awardsSection %}
{% import "organisms/section/work.njk" as projectsSection %}
{% import "organisms/section/organizations.njk" as organizationsSection %}
{% import "organisms/section/contact.njk" as contactSection %}

{# SECTION STYLING #}
{% set sharedClasses = "" %}
{# Note that content values are set in frontmatter #}
<!DOCTYPE html>
<html lang="en" class="bg-slate-950">
  {% include "templates/partials/head.njk" %}
  <body>
    {% include "templates/partials/gtm-noscript.njk" %}
    {# {{ SkipLinksNav.render({ items: ["hero", "introduction", "recognition", "work", "organizations", "contact"] }) }} #}
    {{ Header.render({classes: 'bg-transparent font-display text-white'}) }}
    {{ Preloader.render({ kind: "spinner", message: "Lubricating the framistan…" }) }}
    {{ Background.render({
            id:"background",
            videoSrc: hero.videoSrc,
            defer: false,
            preload: "none",
            autoPlay: true
            }) }}
    <main id="page-main" aria-busy="true" class="max-w-2xl mx-auto space-y-48 grid grid-cols-12 text-neutral-100">
      {# Note that content values are set in frontmatter #}
      {# The id param has a matching value in SELECTORS.js for consistency w/choreography during runtime #}
      {{ heroSection.render( { id: "hero", tagline: hero.tagline, classes: sharedClasses }) }}
      {{ bioSection.render({ id: "introduction", copy: value, order: "1/5", classes: sharedClasses}) }}
      {{ awardsSection.render({ id: "recognition", copy: recognition, awards: collections.awards, order: "2/5", classes: sharedClasses }) }}
      {{ projectsSection.render({ id: "work", projects: collections.projects, classes: sharedClasses, order: "3/5" }) }}
      {{ organizationsSection.render({ id: "organizations", organizations: collections.organizations, classes: sharedClasses, order: "4/5" }) }}
    {{ contactSection.render({ id: "contact", copy: contact, classes: sharedClasses, order: "5/5" }) }}
    </main>
    {{ Footer.render() }}
  {% include "templates/partials/choreography-script.njk" %}
</body></html>