{% import "organisms/SitePreloader.njk" as Preloader %}
{% import "organisms/header/global-header.njk" as Header %}
{% import "organisms/footer/global-footer.njk" as Footer %}
{% import "molecules/background/sizzle-background.njk" as Background %}

<!DOCTYPE html>
<html lang="en">
    {% include "templates/partials/head.njk" %}
    <body>
        {% include "templates/partials/gtm-noscript.njk" %}
        {{ Preloader.render({ kind: "spinner", message: "Preparing the experience…" }) }}
        {{ Header.render() }}
        {{ Background.render({
            id:"sizzle-background",
            videoSrc: hero.videoSrc,
            defer: false,
            preload: "none",
            autoPlay: true
            }) }}
        {# Wrapping content with the smooth-wrapper and smooth-content divs for ScrollSmoother #}
        <div id="smooth-wrapper">
            <div id="smooth-content">
                <main id="page-main" aria-busy="true" class="space-y-24">
                    {% import "organisms/section/hero.njk" as heroSection %}
                    {% import "organisms/section/bio.njk" as bioSection %}
                    {% import "organisms/section/awards.njk" as awards %}
                    {% import "organisms/section/work.njk" as projects %}
                    {# Note that content values are set in frontmatter #}
                    {{ heroSection.render( { id: "hero", tagline: hero.tagline }) }}
                    {{ bioSection.render({id: "bio", copy: value}) }}
                    {{ awards.render({ id: "awards", copy: recognition, awards: collections.awards }) }}
                    {{ projects.render({ id: "projects", projects: collections.projects }) }}
                </main>
                {{ Footer.render() }}
            </div>
        </div>
        {% include "templates/partials/choreography-script.njk" %}
    </body>
</html>