---
layout: null
permalink: /manifest.json
eleventyExcludeFromCollections: true
---

{
  "name": "{{ site.manifest.name }}",
  "short_name": "{{ site.manifest.short_name }}",
  "description": "{{ site.manifest.description }}",
  "start_url": "{{ site.manifest.start_url }}",
  "display": "{{ site.manifest.display }}",
  "background_color": "{{ site.manifest.background_color }}",
  "theme_color": "{{ site.manifest.theme_color }}",
  "orientation": "{{ site.manifest.orientation }}",
  "scope": "{{ site.manifest.scope }}",
  "categories": {{ site.manifest.categories | dump | safe }},
  "lang": "{{ site.manifest.lang }}",
  "icons": {{ site.manifest.icons | dump | safe }}
}