{% import "molecules/stats/stats.njk" as stats %}
{% import "molecules/list/project-orgs.njk" as ProjectOrgs %}
{% import "molecules/awards.njk" as Awards %}
{% macro render(params = {}) %}
  {%- set project = params.project -%}
  {%- set metadataClasses = params.classes -%}
  {#- Awards -#}
  {%- set awardsValue %}
    {% for a in project.awards %}
      {{ a.title }}
      {% if not loop.last %},
      {% endif %}
    {% endfor %}
  {% endset -%}
  {#- Roles -#}
  {%- set rolesValue %}
    {% for r in project.roles %}
      {{ r.title }}
      {% if not loop.last %},
      {% endif %}
    {% endfor %}
  {% endset -%}
  {#- Activities -#}
  {%- set activitiesValue %}
    {% for a in project.activities %}
      {{ a.title }}
      {% if not loop.last %},
      {% endif %}
    {% endfor %}
  {% endset -%}
  {#- Industry -#}
  {%- set industryValue = project.industry.title if project.industry else "" -%}

  {%- set metadataStats = [
    { key: "Clients/Partners", value: ProjectOrgs.render({ orgs: project.organization}) },
    { key: "Roles",      value: rolesValue if project.roles else "" },
    { key: "Industry",   value: industryValue },
    { key: "Deliverables", value: activitiesValue if project.activities else "" },
    { key: "Recognition (Summary)", value: Awards.render({ awards: project.awards, class: awards | classes, size: "size-18" }) }
    ] -%}
  {{ stats.render({ stats: metadataStats, classes: metadataClasses, aria: params.aria }) }}
{% endmacro %}

{#
    {{ Awards.render({ awards: params.project.awards, class: awards | classes, size: "size-18" }) }}
#}
