--- 
layout: templates/documentation.njk
title: Information Architecture
navKey: Design
eleventyNavigation:
  key: IA
  parent: Design
contentModels: [Activities,Organizations,Recognition,Projects,Feed,Galleries,IA,Insights,Nuggets,Outcomes,Roles,Social,Images]
---

<section>
    <h2>Primary Nav</h2>
    <ul class="flex flex-col md:flex-row gap-4">
        {% set navItems = collections.nav_primary %}
        {% set accordionName = "global_nav" %}
        {%- for item in navItems %}
            {% include "molecules/input/nav-item.njk" %}
        {%- endfor %}
    </ul>
</section>
<section class="columns-3">
    <h2>Content Models</h2>
    {% for table in contentModels %}
        <figure class="collapse col-span-4 break-inside-avoid">
            <input type="checkbox"/>
            <figcaption class="collapse-title">
                <h3>{{ table }}</h3>
            </figcaption>
            <ul class="collapse-content space-y-2">
                {% for field, value in collections[table | lower][0] %}
                    <li>{% include "atoms/field.njk" %}</li>
                {% endfor %}
            </ul>
        </figure>
    {% endfor %}
</section>