---
layout: templates/documentation.njk
title: Design Guide
navKey: Design
eleventyNavigation:
    key: Design
---

<section>
    <h2>Body Text</h2>
    {% loremPars 3, "prose" %}
</section>
<section>
    <h2>Inputs</h2>
    {% include "atoms/input.njk" %}
    {% include "atoms/button/button.njk" %}
</section>
<section>
    <h2>Components</h2>
    {% include "molecules/card/card.njk" %}
</section>