---
layout: templates/documentation.njk
title: Navigation
navKey: Design
eleventyNavigation:
    key: Navigation
    parent: Design
---

<div class="bg-modal mx-12">
    {% include "organisms/mega-menu.njk" %}
</div>