---
layout: templates/long-scroll.njk
permalink: /
title: 'Build What Matters'
subtitle: 'The online studio for Russ Lebo'
metaDescription: 'no metaDescription defined'
metaKeywords: 'user experience, eleventy, tailwind'
canonicalUrl: 'https://dataink.io'
bodyClasses: ''
contentClasses: 'bg-neutral-900'
skipLinks:
  - hero
  - bio
  - featured-work
scripts: >
  <script type="module" src="/assets/js/choreography/Director.js" defer></script>
---

  {% import "organisms/section/hero/text.njk" as heroSection %}
  {% import "organisms/section/bio/bio.njk" as bioSection %}
  {% import "organisms/section/awards.njk" as awards %}
  {% import "organisms/section/work/featured.njk" as featuredWork %}
  {# import "organisms/section/organizations/featured.njk" as featuredOrganizations with context #}
  {# import "organisms/section/debug/airtable-dump.njk" as airtableDebugSection #}

  {{ heroSection.render( { id: "hero", title: title }) }}
  {{ bioSection.render({id: "bio"}) }}
  {{ awards.render({ id: "awards", awards: collections.sanityAwards }) }}
  {# {{ featuredOrganizations.render({ id: "featured-organizations", organizations: collections.sanityOrganizations }) }} #}
  