{% extends "layouts/base.njk" %}
{% import "organisms/header/landing/landing-header.njk" as LandingHeader %}

{% block mainStyles %}
  {{ {"base": "mx-auto my-8 grid grid-cols-12 gap-x-8", "sm": "", "md": "", "lg": "", "xl": ""} | classes }}
{% endblock mainStyles %}

{%- set abstractStyles = {
  "base": "col-span-full prose text-primary-500 content-start h-auto m-0 mb-6 self-start pl-2",
  "sm": "",
  "md": "",
  "lg": "col-span-4 col-start-1 row-start-2",
  "xl": ""
} -%}

{% block content %}

  {{ LandingHeader.render({ title: title | default('Untitled') }) }}

  {% if abstract and abstract | length > 0 %}
    <section data-doc-abstract class="{{ abstractStyles | classes }}">
      {{ abstract | safe }}
    </section>
  {% endif %}
  {% if content %}
    {{ content | safe }}
  {% elif not title %}
    {% loremPars 3 %}
  {% endif %}

  {% include "templates/partials/choreography-script.njk" %}
{% endblock content %}
