
<link rel="manifest" href="/manifest.json" />
<meta name="theme-color" content="{{ site.manifest.theme_color }}" />
<meta name="theme-color"
      media="(prefers-color-scheme: dark)"
      content="{{ site.manifest.theme_color_dark }}" />
<meta name="application-name" content="{{ site.manifest.short_name }}" />
<meta name="mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="apple-mobile-web-app-title"
      content="{{ site.manifest.short_name }}" />
