s
{#- TODO: Properly abstract this into the card component all proper-like. -#}
{% import "atoms/award.njk" as Award %}
{% import "atoms/svg/inline.njk" as InlineSvg %}

{%- set article = {
      base: "relative grid grid-cols-12 gap-2 px-4",
      sm: ""
} -%}
{%- set logoStyle = { 
      base: "col-span-1 w-full h-auto",
      sm: "pl-1 col-span-2",
      md: "pl-2",
      lg: "pl-3",
      xl: "pl-4"
    } -%}
{%- set contentWrapper = {
      base: "col-span-11 justify-center",
      sm: "col-span-10border-l border-l-2 border-dotted border-black"
    } -%}
{%- set title = {
      base: "font-display text-sm leading-none", 
      sm: "pt-2"
    } -%}
{%- set list = {
      base: "text-xs font-light leading-none",
      sm: "pt-2"
    } -%}
{%- set awardContainer = {
      base: "text-xs flex flex-row gap-2 text-neutral-400",
      sm: "flex-col"
    } -%}

{%- macro render(group) -%}
  <article data-awards-el="organization-card" class="{{ article | classes }}">
    {%- set logo = group.organization.logo.asset.url | default('/assets/images/logos/default.svg') -%}
    {%- set logoAlt = group.organization.logo.alt | default(group.organization.title) -%}

    {{ InlineSvg.render({
        svg: group.organization.logo.inline,
        src: logo,
        alt: logoAlt,
        classes: logoStyle | classes,
        svgClasses: ""
      }) }}

    <div class="{{ contentWrapper | classes }}">
      <h3 class="{{ title | classes }}">{{ group.organization.title }}</h3>
      <ul class="{{ list | classes }}" data-awards-el="group-list">
        {% for award in group.items %}
          <li class="{{ awardContainer | classes }}" data-awards-el="award">
            {{ Award.render(award) }}
          </li>
        {% endfor %}
      </ul>
    </div>
  </article>
{%- endmacro -%}