{#- TODO: Properly abstract this into the card component all proper-like. -#}
{% import "atoms/award.njk" as Award %}
{% import "atoms/svg/inline.njk" as InlineSvg %}

{%- set articleStyles = {"base": "text-neutral-100 relative grid grid-cols-6 gap-2 grid-rows-[auto_1fr] font-display", "sm": ""} -%}
{%- set titleStyles = {"base": "col-start-2 col-span-5 font-display text-sm text-neutral-100 leading-none m-0", "sm": "pt-2"} -%}
{%- set listStyles = {"base": "col-start-2 col-span-5 flex flex-wrap gap-x-1"} -%}
{%- set awardContainerStyles = {"base": "text-sm leading-2 text-neutral-400 after:content-[','] last:after:content-none", "sm": ""} -%}


{%- macro render(group, size) -%}
  <article data-awards-el="organization-card"
           class="{{ articleStyles | classes }}">
    {#- {% set logoSize = size | default("size-10") %} -#}
    {%- set logo = group.organization.logo.asset | default('/assets/images/logos/default.svg') -%}
    {%- set logoAlt = group.organization.logo.alt | default(group.organization.title) -%}
    {%- set logoStyles = {"base": "self-start pt-2 row-span-2 text-accent-600 size-full"} -%}
    {{ InlineSvg.render({
        svg: group.organization.logo.inline,
        src: logo,
        alt: logoAlt,
        classes: logoStyles | classes,
        svgClasses: ""
        }) }}
    <h3 class="{{ titleStyles | classes }}">{{ group.organization.title }}</h3>
    <ul class="{{ listStyles | classes }}" data-awards-el="group-list">
      {% for award in group.items %}
        <li class="{{ awardContainerStyles | classes }}" data-awards-el="award">{{ Award.render(award) }}</li>
      {% endfor %}
    </ul>

  </article>
{%- endmacro -%}
