{#- TODO: Properly abstract this into the card component all proper-like. -#}
{% import "atoms/award.njk" as Award %}
{% import "atoms/svg/inline.njk" as InlineSvg %}

{%- set article = {
      base: "relative grid grid-cols-12 gap-2 px-4 font-display text-neutral-100",
      sm: ""
} -%}
{%- set logoStyle = { 
      base: "size-10",
      sm: "pl-1",
      lg: "pl-3",
      xl: "pl-4"
    } -%}
{%- set contentWrapper = {
      base: "col-span-11 justify-center",
      sm: ""
    } -%}
{%- set title = {
      base: "font-display text-lg leading-none", 
      sm: "pt-2"
    } -%}
{%- set list = {
      base: "",
      sm: "pt-2"
    } -%}
{%- set awardContainer = {
      base: "flex flex-row leading-snug text-neutral-400",
      sm: "flex-col"
    } -%}

{%- macro render(group) -%}
  <article data-awards-el="organization-card" class="{{ article | classes }}">
    {%- set logo = group.organization.logo.asset | default('/assets/images/logos/default.svg') -%}
    {%- set logoAlt = group.organization.logo.alt | default(group.organization.title) -%}
    {{ InlineSvg.render({
        svg: group.organization.logo.inline,
        src: logo,
        alt: logoAlt,
        classes: logoStyle | classes,
        svgClasses: ""
      }) }}

    <div class="{{ contentWrapper | classes }}">
      <h3 class="{{ title | classes }}">{{ group.organization.title }}</h3>
      <ul class="{{ list | classes }}" data-awards-el="group-list">
        {% for award in group.items %}
          <li class="{{ awardContainer | classes }}" data-awards-el="award">
            {{ Award.render(award) }}
          </li>
        {% endfor %}
      </ul>
    </div>
  </article>
{%- endmacro -%}