{% import "atoms/heading.njk" as Heading %}
{% macro render(params = {}) %}
  {%- set title = params.title | default("title") -%}
  {%- set eyebrow = params.eyebrow | default("eyebrow") -%}
  {%- set headingLevel = params.headingLevel | default(3) -%}
  {%- set description = params.description| default("Lorem ipsum dolor sit amet, consectetur adipiscing elit.") -%}
  {%- set byline = params.byline | default("byline") -%}
  {%- set featured = params.featured | default(false) -%}
  {%- set image = params.image -%}
  {%- set url = params.url | default("url") -%}
  {%- set classes = params.classes | default("") -%}
  {%- set imageClasses = params.imageClasses | default("") -%}
  {%- set eager = params.eager | default(false) -%}

  {%- set imageSrc = image and (image.src or image.url or image.asset.url or image) -%}
  {%- set imageAlt = image and image.alt or title -%}

  <article data-card-el="root" class="relative isolate w-full space-y-0 {{ classes }}">

    {% if url %}
      <a href="{{ url }}" class="block space-y-3 focus:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-offset-neutral-900 focus-visible:ring-neutral-200">
      {% endif %}

      {% if imageSrc %}
        <figure data-card-el="figure" class="m-0 relative z-0 overflow-hidden w-full h-dvh">
          <img data-card-el="image" src="{{ imageSrc }}" alt="{{ imageAlt }}" class="h-full object-cover object-center {{ imageClasses }}" loading="{{ 'eager' if eager else 'lazy' }}"/>
        </figure>
      {% endif %}

      <div data-card-el="body" class="bg-white p-4 space-y-2">
        <header>
          {% if eyebrow %}
            <p class="eyebrow text-xs text-current uppercase tracking-wide">{{ eyebrow }}</p>
          {% endif %}
          {{ Heading.render({ level: headingLevel, text: title, class: "title font-display text-current sm:text-lg" ~ (" hover:underline" if url else "") }) }}
        </header>

        {% if description %}
          <p class="description text-sm text-current">{{ description }}</p>
        {% endif %}

        <footer>
          {% if byline %}
            <p class="byline text-xs text-current uppercase tracking-wide">{{ byline }}</p>
          {% endif %}
        </footer>
      </div>

      {% if url %}
      </a>
    {% endif %}

  </article>
{% endmacro %}