{% import "molecules/lightbox/lightbox.njk" as Lightbox %}
<div class="rounded-lg bg-neutral-100 shadow-xl overflow-hidden">
  {{ Lightbox.render({ picture: image.file.html, caption: image.title }) }}
  <div class="px-4 py-4">
    <dl class="divide-y divide-neutral-200 shadow-sm rounded border border-neutral-200">
      <div class="flex justify-between px-3 py-2">
        <dt class="text-sm text-neutral-600">Filename</dt>
        <dd class="text-sm text-neutral-800">{{ image.file.originalFilename or "N/A" }}</dd>
      </div>
      <div class="flex justify-between px-3 py-2">
        <dt class="text-sm text-neutral-600">Type</dt>
        <dd class="text-sm text-neutral-800">{{ image.type or "Unknown" }}</dd>
      </div>
      <div class="flex justify-between px-3 py-2">
        <dt class="text-sm text-neutral-600">ID</dt>
        <dd class="text-sm text-neutral-800">{{ image.id }}</dd>
      </div>
      <div class="flex justify-between px-3 py-2">
        <dt class="text-sm text-neutral-600">Dimensions</dt>
        <dd class="text-sm text-neutral-800">
          {{ image.width or "?" }}x{{ image.height or "?" }}
        </dd>
      </div>
    </dl>
  </div>
</div>
