{# UNUSED - No references found in codebase, safe to remove #}
<nav aria-labelledby="{{ paginationTitle | slugify }}">
  <h2 id="{{ paginationTitle | slugify }}">{{ paginationTitle }}</h2>
  <ol>
    <li>
      {% if page.url != pagination.href.first %}
        <a href="{{ pagination.href.first }}">First</a>
      {% else %}
        First
      {% endif %}
    </li>
    <li>
      {% if pagination.href.previous %}
        <a href="{{ pagination.href.previous }}">Previous</a>
      {% else %}
        Previous
      {% endif %}
    </li>
    <li>
      {% if pagination.href.next %}
        <a href="{{ pagination.href.next }}">Next</a>
      {% else %}
        Next
      {% endif %}
    </li>
    <li>
      {% if page.url != pagination.href.last %}
        <a href="{{ pagination.href.last }}">Last</a>
      {% else %}
        Last
      {% endif %}
    </li>
  </ol>
</nav>
