<ul class="flex flex-row gap-2 ">
    <li>
        <a href="" class="text-sm font-light text-neutral-100">Work</a>
    </li>
    <li>
        <a href="" class="text-sm font-light text-neutral-100">Lab</a>
    </li>
    <li>
        <a href="" class="text-sm font-light text-neutral-100">Teaching</a>
    </li>
    <li>
        <a href="" class="text-sm font-light text-neutral-100">Now</a>
    </li>
    <li>
        <a href="" class="text-sm font-light text-neutral-100">Contact</a>
    </li>
</ul>