{% import "atoms/ruler.njk" as Ruler %}
{% macro render(params = {}) %}
  {%- set id = params.id | default("section-cap-anchor") -%}
  <div id="{{ id }}" class="fixed top-8 left-0 w-full px-4 pointer-events-none z-30">
    {{ Ruler.render({classes: "h-8 m-0"}) }}
  </div>
{% endmacro %}