{% import "atoms/hanko/hanko.njk" as Hanko %}

{%- set root = { 
    base: "fixed inset-0 z-[9999] flex items-center justify-center bg-slate-950 text-white pointer-events-auto"
} -%}
{%- set hanko = {
    base: "hanko block text-secondary-500"} -%}

{% macro render(params) -%}
  <div data-preloader id="site-preloader" inert="inert" class="{{ root | classes }}" role="status" aria-live="polite">
    {{ Hanko.render({svg: params.svg, classes: hanko | classes}) }}
  </div>
{%- endmacro %}