{% import "atoms/hanko/hanko.njk" as Hanko %}
{% import "organisms/navigation/page-nav.njk" as page_nav %}
{%- set header = {
        base: "group fixed h-dvh left-0 z-[9999] bg-slate-950 text-center",
        "data-[header-role=loader]": "w-full text-center pointer-events-auto flex items-center",
        "data-[header-role=hero]": "w-full flex items-center",
        "data-[header-role=menu]": "w-48 border-r-2 border-slate-700"
        } -%}
{%- set hgroup = {
        base: "font-display w-24 mx-auto my-8",
        "group-data-[header-role=menu]": "w-16"
        } -%}
{%- set hanko = {
        base: "hanko block text-secondary-500"
        } -%}
{%- set heading = {
        base: "text-4xl leading-8 text-primary-200 border-b border-neutral-400 py-6 my-2",
        "group-data-[header-role=menu]": "text-2xl leading-5 border-none my-2 py-0"
        } -%}
{%- set subtitle = {
        base: "block text-lg tracking-widest w-full text-slate-500 px-1",
        "group-data-[header-role=menu]": "hidden"
        } -%}

{% macro home_landing(params = {}) %}
        <header
                id="overview"
                data-preloader
                data-home-header
                data-header-role="loader"
                class="site-hero {{ header | classes }}">
                <hgroup data-preloader-el="hgroup" class="{{ hgroup | classes }}">
                        {{ Hanko.render({svg: params.svg, classes: hanko | classes}) }}
                        <h1 class="{{ heading | classes }}">Russ Lebo</h1>
                        <span class="{{ subtitle | classes }}">UX IXD AIX DX</span>
                </hgroup>
                {{ page_nav.render({classes: "col-start-1 hidden mx-auto group-data-[header-role=menu]:block"}) }}
        </header>
{% endmacro %}