{% import "atoms/hanko/hanko.njk" as Hanko %}
{%- set preloader_styles = "fixed inset-0 z-[9999] flex items-center justify-center bg-slate-950 text-white pointer-events-auto" %}
{%- set header = { 
        base: "font-display flex gap-2 px-4"
        } -%}
{%- set hgroup = { 
        base: "flex-5/6"
        } -%}
{%- set hanko = {
        base: "hanko block text-secondary-500 size-24"} -%}
{% macro home_landing(params = {}) %}
  <header data-preloader class="site-hero {{ header | classes }} {{ preloader_styles }}">
    {{ Hanko.render({svg: params.svg, classes: hanko | classes}) }}
    <hgroup data-preloader-el="hgroup" class="{{ hgroup | classes }}">
      <h1>Russell Lebo</h1>
      <p>Experience Designer &amp; Creative Technologist</p>
    </hgroup>
  </header>
{% endmacro %}