{% import "atoms/video/video.njk" as videoAtom %}
{% import "atoms/gel/gel.njk" as gelAtom %}

{% macro render(params = {}) %}
  {%- set bgID = params.id | default('sizzle') -%}
  
  <div 
    id="{{ bgID }}" 
    class="absolute bg-pixelator inset-0 w-full h-dvh -z-10"
    aria-hidden="true">
    {{ videoAtom.render({
      src: params.videoSrc,
      autoplay: true,
      loop: true,
      muted: true,
      playsInline: true,
      className: "bg-video"
    }) }}
    {{ gelAtom.render({ color: 'bg-gel-primary'}) }}
  </div>
{% endmacro %}